<div class="banner">
  <div class="summary">
    <h2>Donate towards a student's tuition and see them pay it forward</h2>
    <ol>
      <li><span>1.</span><h3>Discover extraordinary students</h3></li>
      <li><span>2.</span><h3>Donate towards their tuition</h3></li>
      <li><span>3.</span><h3>Inspire their charitable contributions</h3></li>
    </ol>
    <a href="howitworks.html" class="button action" >Learn more</a>
  </div>
  <div class="frame-mosaic">
    <div class="mosaic">
      <ul>
        <% @banner.each_with_index do |a,i|%>
       <li>
          <div class="f1_container">
            <%= ('<div id="card' + i.to_s +  '" class="f1_card">').html_safe %>
              <div class="front face">
                <%= link_to image_tag(a.p1_url), student_path(a.id)%>
              </div>
              <div class="back face">
                 <%= link_to image_tag(a.p2_url), student_path(a.id)%>
              </div>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>

