<div class="prospects need-funding">
  <div class="slider-questions">
    <div class="inquiry">
      <h6 class="action-text">Need funding?</h6><br/>
      <%= link_to "Apply Now",introduction_path, :class => "button info-bg-color", :style => "text-decoration: none;" %>
    </div>
  </div>
</div>
