<div  id="start">
  <div class="start-content-info">
    <h1>What you'll Need to apply Online</h1>
    <ul>
      <li>2 Photos for your Profile</li>
      <li>1 Video from Youtube about you</li>
      <li>University Account Information</li>
    </ul>
    <%= link_to "START >", root_path, class: "button info-bg-color", style: "text-decoration: none;" %>
  </div>
  <div class="start-content-contact">
    <h3>CONTACT US</h3>
    <%= link_to "You have question or comments?", contact_path %>
  </div>
</div>

