<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/assets/addup.css">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
    Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--To make html5 compatible with old browsers-->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Add Up - Crowdscholarships that carry on</title>
    <meta name="description" content="Add Up is a crowdscholarships platform for students to raise funds for their graduate studies in USA top universities." />
    <meta name="author" content="Add Up - Crowdscholarships LLC" />

    <meta name="viewport" content="width=device-width; initial-scale=1.0" />

    <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <!-- Javascript load -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript" src="js/addup.js"></script>
  </head>
  <body>

    <div class="center">
      <div class="two-thirds">
        <h5 class="bold top-space">ABOUT US</h5>
        <p>At Add Up, we believe that our world needs educated people who not only genuinely want have a positive impact on ther communities, but who also believe they have the power and ability to do so!</p>
        <p>The innovative turn ADD Up takes on the proven success of the crowdfunding model and the power of social media, does much more than help students raise money towards their tuition in an easy and secure way. It also raises student's confidence in their ability to be a positive change in their communities as they see friends, family and strangers believe in what they can achieve with their education and their unique abilities.</p>
        <p>Through Add Up, we are helping extraordinary students have greater access to higher education, while nurturing their sense of empowerment and capacity of change. Donors are inspired by extraordinary students and upp towards their tuition. Students pay it forward by adding up to their cause with their creativity, abilities or time.</p>
        <div class="team">
          <h5 class="bold top-space">THE ADD UP TEAM</h5>
          <div class="member">
            <img src="/assets/team/member1.jpg" alt="Tom Villa"/>
            <h5>Tom Villa</h5>
          </div>
          <div class="member">
            <img src="/assets/team/member2.jpg" alt="Tom Villa"/>
            <h5>Tom Villa</h5>
          </div>
          <div class="member">
            <img src="/assets/team/member3.jpg" alt="Tom Villa"/>
            <h5>Tom Villa</h5>
          </div>
          <div class="member">
            <img src="/assets/team/member4.jpg" alt="Tom Villa"/>
            <h5>Tom Villa</h5>
          </div>
        </div>

        <div class="team">
          <h5 class="bold top-space">THE ADD UP BOARD OF ADVISORS</h5>
          <div class="member">
            <img src="/assets/team/member1.jpg" alt="Tom Villa"/>
            <h5>Tom Villa</h5>
          </div>
          <div class="member">
            <img src="/assets/team/member2.jpg" alt="Tom Villa"/>
            <h5>Tom Villa</h5>
          </div>
          <div class="member">
            <img src="/assets/team/member3.jpg" alt="Tom Villa"/>
            <h5>Tom Villa</h5>
          </div>
          <div class="member">
            <img src="/assets/team/member4.jpg" alt="Tom Villa"/>
            <h5>Tom Villa</h5>
          </div>
        </div>

      </div>
      <div class="sidebar dark-bg">
        <div class="frame light-bg">
          <span class="money">$300</span>
          <span class="label-stats">in donations</span>
        </div>

      </div>
    </div>



    <div class="footer">
      <div class="center">
        <ul>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="terms.html">Terms of Use</a></li>
          <li><a href="privacy.html">Privacy Policy</a></li>
          <li>
            <a href="companies.html">Matching funds for Companies</a>
          </li>
        </ul>
        <ul>
          <li>Add Up media: </li>
          <li><a href="http://www.facebook.com/Addup">Facebook</a></li>
          <li><a href="http://www.twitter.com/addup">Twitter</a></li>
        </ul>
        <p class="copyright">2012 CrowdScholarship LLC All rights reserved</p>
      </div>
    </div>
  </body>
</html>
