<div class="center">
  <div class="two-thirds">
    <h5 class="bold top-space">ABOUT US</h5>
<p>
At Add Up, we believe that our world needs educated people who not only want to make an
impact on their communities, but who also genuinely believe that they have the capacity to do
so!
</p>
<p>
The innovative turn Add Up takes on the proven success of the crowdfunding model and the
power of social media does much more than help students raise complementary funds towards
their tuition in an easy and secure way. It also raises their confidence in their ability to be
a force for positive change. The tangible benefit may come in dollar signs, but the security
gained from knowing that others believe in them and their philanthropic pursuits is the real
reward that carries on.
<p>
</p>
The model is a simple one. Donors are inspired by students and invest in their educational
goals. The return on investment does not go directly back to the donor, but rather gets paid
forward by the students who continue to add up to their communities with their abilities,
talents and time.
</p>
<p>
If you share our vision of empowering service-oriented students, become a part of the Add Up
community (links to FB and Twitter).
</p>

    <div class="team">
      <h5 class="bold top-space">THE ADD UP TEAM</h5>
      <div class="member">
        <img src="/assets/team/joshuafrancia.jpg" alt="Joshua Francia" width=136px/>
        <h5>Joshua Francia</h5>
      </div>
       <div class="member">
        <img src="/assets/team/jorgecuadra.jpg" alt="Jorge Cuadra" width=136px/>
        <h5>Jorge Cuadra</h5>
      </div>
        <div class="member">
        <img src="/assets/team/eddyhong.jpg" alt="Eddy Hong" width=136px/>
        <h5>Eddy Hong</h5>
      </div>
      <div class="member">
        <img src="/assets/team/mattstengel.jpg" alt= "Matt Stengel"  width=136px/>
        <h5>Matt Stengel</h5>
      </div>
 </div>

    <div class="team">
      <h5 class="bold top-space">THE ADD UP BOARD OF ADVISORS</h5>
      <% @advisors.each do |a|  %>
        <div class="member">
          <%= image_tag a.photo.thumbabout.url.to_s, :alt => a.name, :width => 136 %>
          <h5><%= a.name %></h5>
        </div>
      <% end %>
    </div>

  </div>
  <div class="sidebar dark-bg">
    <div class="frame light-bg">
      <span class="money"><%= @count %></span>
      <span class="label-stats">in donations</span>
    </div>

  </div>
</div>
