<div class="center">
  <div class="two-thirds">
    <h5 class="bold top-space">ABOUT US</h5>
    <p>At Add Up, we believe that our world needs educated people who not only genuinely want have a positive impact on ther communities, but who also believe they have the power and ability to do so!</p>
    <p>The innovative turn ADD Up takes on the proven success of the crowdfunding model and the power of social media, does much more than help students raise money towards their tuition in an easy and secure way. It also raises student's confidence in their ability to be a positive change in their communities as they see friends, family and strangers believe in what they can achieve with their education and their unique abilities.</p>
    <p>Through Add Up, we are helping extraordinary students have greater access to higher education, while nurturing their sense of empowerment and capacity of change. Donors are inspired by extraordinary students and upp towards their tuition. Students pay it forward by adding up to their cause with their creativity, abilities or time.</p>
    <div class="team">
      <h5 class="bold top-space">THE ADD UP TEAM</h5>
      <div class="member">
        <img src="/assets/team/joshuafrancia.jpg" alt="Joshua Francia" width=136px/>
        <h5>Joshua Francia</h5>
      </div>
    </div>

    <div class="team">
      <h5 class="bold top-space">THE ADD UP BOARD OF ADVISORS</h5>
      <% @advisors.each do |a|  %>
        <div class="member">
          <%= image_tag a.photo_url, :alt => a.name, :width => 136 %>
          <h5><%= a.name %></h5>
        </div>
      <% end %>
    </div>

  </div>
  <div class="sidebar dark-bg">
    <div class="frame light-bg">
      <span class="money"><%= @count %></span>
      <span class="label-stats">in donations</span>
    </div>

  </div>
</div>
