
<div class="center">
  <progress value="50%" max="200">50%</progress>
<% payment_service_for "Donation #{@counts.to_s}" , 'pro_1348679274_biz@hotmail.com',
  :amount => params[:money],
  :currency => 'USD',
  :service => :paypal,
  :html => { :id => 'paypal_details' } do |service| %>
<!--pro_1348679274_biz@hotmail.com 'matt@addup.org'
service.customer :first_name => 'Alicia',
                     :last_name => 'Villareal',
                     :phone => 205-553-3278,
                     :email => 'nino_gilberto@hotmail.com'
    service.billing_address :city => 'Abernant', :address1 => 'Presa de la boca 3821 col nueva modelo', :state => 'AL', :country => 'US', :zip => 35440
                 -->
<% service.item_name       "#{@student.first_name}  #{@student.last_name}"
service.invoice           @record.invoice
service.tax                "0.00"
service.notify_url url_for(ipn_url)
service.return_url         url_for(success_url(params[:id]))
service.cancel_return_url  url_for(:only_path => false, :controller => 'home', :action => 'landingpage') %>
<% submit_tag 'Make Payment'%>
<% end %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $("#paypal_details").submit();
    });
  </script>
</div>
