<div class="center">

  <div class="three-fifths">
    <div class="student-stats">
      <h3 class="bold top-space">Cynthia White <span class="icon checkmark"></span></h3>
      <div class="bubble approved normal">
      </div>
      <h5>MBA Candidate (2nd year out of 4 year program)</h5>
      <h5>Georgetown University</h5>
      <h5>USA, Houston</h5>
    </div>

    <form accept-charset="UTF-8" action="paypal.php" method="post">
      <ol class="choose-rewards">
        <li>
          <h5 class="bold">Great! Every contribution Adds up!</h5>
          <h6>Enter the amount to add up</h6>
          <div class="money-input info-bg-color">
            <span class="currency info-color">$</span>
            <input class="super-input money" autocomplete="off" class="text" type="text" />
            <!-- 								<h6><span class="tiny-tip">$1</span> or more.</h6> -->
            <h6 class="tiny-tip">$1 or more</h6>
          </div>
        </li>
        <li>
          <ol class="rewards">
            <li class="reward no_thx">
              <input alt="0.00" class="radio" name="" title="No Reward" type="radio" value="">
              <label class="no-reward" for="backing_backer_reward_id_">$25</label>
              <p class="description">
                They can because they think they can.
              </p>
            </li>
            <li class="reward">
              <input alt="$5.00" class="radio" id="" name="" title="$5.00" type="radio" value="986696">
              <label for=""><strong>$50</strong> or more</label>
              <p class="description">
                Try not to become a man of success but a man of value.
              </p>
            </li>
            <li class="reward">
              <input alt="$5.00" class="radio" id="" name="" title="$5.00" type="radio" value="986696">
              <label for=""><strong>$75</strong> or more</label>
              <p class="description">
                The talent of success is nothing more than doing what you can do, well.
              </p>
            </li>
            <li class="reward">
              <input alt="$5.00" class="radio" id="" name="" title="$5.00" type="radio" value="986696">
              <label for=""><strong>$100</strong> or more</label>
              <p class="description">
                Opportunity, sooner or later, comes to all who work and wish.
              </p>
            </li>
            <li class="reward">
              <input alt="$5.00" class="radio" id="" name="" title="$5.00" type="radio" value="986696">
              <label for=""><strong>$250</strong> or more</label>
              <p class="description">
                Ability is of little account without opportunity.
              </p>
            </li>
            <li class="reward">
              <input alt="$5.00" class="radio" id="" name="" title="$5.00" type="radio" value="986696">
              <label for=""><strong>$500</strong> or more</label>
              <p class="description">
                Every artist was first an amateur.
              </p>
            </li>
            <li class="reward">
              <input alt="$5.00" class="radio" id="" name="" title="$5.00" type="radio" value="986696">
              <label for=""><strong>$1000</strong> or more</label>
              <p class="description">
                I can't believe it! I'm going to Las Vegas to celebrate
              </p>
            </li>

          </ol>
        </li>
        <li>
          <div class="checkout_actions_wrap">
            <div class="checkout_actions">
<%= image_tag "paypal.png"%>
              <input class="button action shadow" name="continue" type="submit" value="Continue to PayPal">
              <span class="info-color transfer">or with Bank Transfer</span>
            </div>
          </div>
        </li>
        <li>
          <div class="transfer-info">
            <h5>Fill in to receive the bank account information</h5>
            <label for="name">Full Name</label>
            <input id="name" name="name" type="text">
            <label for="email">Email Address</label>
            <input id="email" name="email" type="text">
            <input class="button action shadow" name="continue" type="submit" value="Bank Transfer">
          </div>
        </li>

      </ol>
    </form>
  </div>
</div>
<div class="sidebar">
  <div class="checkout_faqs">
    <h6 class="faqs bold">FREQUENTLY ASKED QUESTIONS</h6>
    <ul class="faqs">
      <li class="faq">
        <div class="faq-question">
          <a> <span class="icon-expand arrow-shown"> </span> <span class="question info-color">How do I pledge?</span> </a>
        </div>
        <div class="faq-answer">
          Enter your pledge amount and select a reward.
          Then
          we'll send you to Amazon Payments to complete the checkout process.
        </div>
      </li>
      <li class="faq">
        <div class="faq-question">
          <a> <span class="icon-expand arrow-hidden"> </span> <span class="question info-color">When is my credit card charged?</span> </a>
        </div>
        <div class="faq-answer hide">
          If this project is successfully funded, your credit card will be charged on
          Wednesday Oct 17, 11:48am CDT,
          along with all the other backers of this project.
        </div>
      </li>
      <li class="faq">
        <div class="faq-question">
          <a> <span class="icon-expand arrow-hidden"> </span> <span class="question info-color">So I'm only charged if funding succeeds?</span> </a>
        </div>
        <div class="faq-answer hide">
          Yes! That's part of what makes Kickstarter special. If a project isn't successfully funded, no one pays anything.
        </div>
      </li>
      <li class="faq">
        <div class="faq-question">
          <a> <span class="icon-expand arrow-hidden"></span> <span class="question info-color">What if I want to change my pledge?</span> </a>
        </div>
        <div class="faq-answer hide">
          You can change or cancel your pledge anytime before Wednesday Oct 17, 11:48am CDT.
        </div>
      </li>
      <li class="faq">
        <div class="faq-question">
          <a> <span class="icon-expand arrow-hidden"></span> <span class="question info-color">If this project is funded, how do I get my reward?</span> </a>
        </div>
        <div class="faq-answer hide">
          When your reward is ready, Conquistador Games will send you a survey via email to request any info needed to deliver your reward (mailing address, T-shirt size, etc).
        </div>
      </li>
    </ul>
  </div>
</div>

