<div class="center">
  <h3 class="info-color bold top-space">Match Funds!</h3>
  <p>For students, it is invaluable for companies and successful philanthropists to believe in their education and their commitment to help society.</p>
  <p>You can reward their own fundaraising efforts by matching by matching what they raise, dollar for dollar. You can select the criteria for students to qualify for your matching funds, determine a maximum amount to match and even requiere a separate application process.</p>
  <p class="three-fifths">Learn about how your company can match funds for students.</p>

  <form accept-charset="UTF-8" action="" method="post">
    <label for="name">Full Name</label>
    <input id="name" name="name" type="text">
    <label for="email">Email Address</label>
    <input id="email" name="email" type="text">
    <label for="name">Company</label>
    <input id="company" name="company" type="text">
    <label for="message">Message</label>
    <textarea id="message" name="message"></textarea>
    <input class="button info-bg-color" name="commit" type="submit" value="Submit">
  </form>
  <h5 class="bold">Mailing Address</h5>
  <h5 class="zero">CrowdScholarship LLC</h5>
  <h5 class="zero">200 E Yuma Apt. 7</h5>
  <h5 class="zero">McAllen, TX 78503</h5>
  <h5 class="zero">USA</h5>

</div>

