
<%= content_for :javascripts do %>
  <%= stylesheet_link_tag "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag "shared" %>
  <%= javascript_include_tag "bootstrap" %>
<% end %>


<div class="center">
<h1 class="top-space">
Add Up FAQ’s
</h1>
<p>Last modified: 02/03/2013</p>
<div id="accordion2" class="accordion">
<div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Why Add Up was created?</a>
          </div>
          <div class="accordion-body collapse" id="collapseOne">
            <div class="accordion-inner">
<p>Add Up seeks to recognize and motivate the community service efforts of international students studying for their higher education degrees in the US.</p>
<p>Many intelligent and talented students earn their degrees and yet lack the confidence to utilize their skills and abilities in ways that can make a positive impact on their society. With the incentive of getting complementary funds towards their university’s cost of attendance, Addup.org invites students to reflect on and identify their skills and abilities, what change they are passionate about making in their community, and how they can use those talents to contribute to that change. The tangible benefit may come in dollar signs, but the security gained from knowing that people believe in them and their capacity to have a positive impact on others is the real reward that carries on.</p>
<p>If you share our vision of empowering service-oriented students to make a positive impact in their community, become a part of the Add Up community (links to Facebook and Twitter).</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">What is Add Up?</a>
          </div>
          <div class="accordion-body collapse" id="collapseTwo">
            <div class="accordion-inner">
<p>Add Up is a platform where service-oriented, international students studying for their higher education degrees in the United States can connect with sponsors who value the impacts of both quality higher education and grassroots community service. </p>
<p>Sponsors add up to a student’s scholarship when they feel drawn to the student’s service mission, course of study, or cause. Empowered by the support of their sponsors, students then add up to their communities through any number of different community-building endeavors (link to idea generator). In the end, everybody wins. Add Up simply provides the crowdfunding platform to make it all happen.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseThree" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Who uses Add Up?</a>
          </div>
          <div class="accordion-body collapse" id="collapseThree">
            <div class="accordion-inner">
<ul>
<li>
Service-oriented, international students studying in the US who are seeking funds towards their higher education degree </li><li>
Family members, friends, and other supporters who want to support the student’s educational and service endeavors</li>
<li>Alumni of the student’s university</li>
<li>Anyone who supports a student’s course of study, cause, or service mission </li>
</ul>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseFour" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Why are only international students eligible to utilize Add Up right now?</a>
          </div>
          <div class="accordion-body collapse" id="collapseFour">
            <div class="accordion-inner">
<p>The United States is home to many of the best universities in the world and thus attracts hundreds of thousands of international students seeking higher education degrees each year. Though rising tuition costs affect both American and international students struggling to fund their educational goals, international students do not have access to federal and state grants and scholarships, nor are they eligible for many private scholarships that are available only to US citizens. Recognizing the lack of financial aid options available to international students, Add Up seeks to partly fill this void by providing a crowdfunding platform which enables service-oriented international students to raise complementary funds towards their tuition and use their unique abilities to improve the community in which they study.</p>
<p>In the near future, we hope to expand the platform for American students, as we recognize that, despite the variety of financial aid options, funding their higher education is still a struggle for millions of students each year.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseFive" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Is Add Up a non-profit or for-profit company?</a>
          </div>
          <div class="accordion-body collapse" id="collapseFive">
            <div class="accordion-inner">
<p>Add Up is a for-profit company that provides a crowdfunding platform to empower sponsors and students to make a positive social impact. </p>
Students
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseSix" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Who can create a student profile?</a>
          </div>
          <div class="accordion-body collapse" id="collapseSix">
            <div class="accordion-inner">
<p>While Add Up aims to be a go-to resource for all students studying in the U.S. at four year, public or private non-profit U.S. universities (http://classifications.carnegiefoundation.org/), right now we are only accepting international students.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseSeven" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Is Add Up need-based?</a>
          </div>
          <div class="accordion-body collapse" id="collapseSeven">
            <div class="accordion-inner">
<p>No. Add Up is merit-based. All you need is to be passionate about making a positive impact in your community and a plan to turn that passion into action.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseEight" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">What will happen with the scholarship money that my campaign raises?</a>
          </div>
          <div class="accordion-body collapse" id="collapseEight">
            <div class="accordion-inner">
<p>All scholarship money that your campaign raises minus fees (see fees FAQ below) gets paid directly to your university for your tuition and associated costs once your campaign is over. </p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseNine" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">How much does creating a profile cost?</a>
          </div>
          <div class="accordion-body collapse" id="collapseNine">
            <div class="accordion-inner">
<p>You can launch a campaign for only $25.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseTen" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">What do I need to do in order to create a student profile?</a>
          </div>
          <div class="accordion-body collapse" id="collapseTen">
            <div class="accordion-inner">
<p>In order to appear on the site:</p>
<li>
1. You’ll have to prove that you are both a currently enrolled student (register using your .edu address) and an international student. </li><li>
2. You’ll also need to have a service initiative to tell us about. How will you add up to your community?</li><li>
3. Share a little about yourself. What are you studying/planning to study? What are your educational/career goals?Why is adding up important to you?</li>
<li>
4. Lastly, sign the Add Up Student Honor Code agreeing to fulfill your service commitment, keep your sponsors informed of updates, and your pledge to give back.</li>
<p>Once you have a service initiative in mind, the whole process only takes a few minutes. When you are ready, start here (link). Also, don’t forget to check out Add Up’s Privacy Policy (link).</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseEleven" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">What do I need to do in order to have a successful campaign?</a>
          </div>
          <div class="accordion-body collapse" id="collapseEleven">
            <div class="accordion-inner">
<p>If you want tips on how to begin your fundraising campaign, how to enhance your profile, how to choose a funding goal, and how to leverage every aspect of Add Up to reach or exceed your funding goal, see the FAQ section entitled “Add Up 101” below.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseTwelve" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Is there a limit for how much my campaign can raise?</a>
          </div>
          <div class="accordion-body collapse" id="collapseTwelve">
            <div class="accordion-inner">
<p>Yes: $10,000. In special situations, the limit can be raised. Please email info@addup.org if you need to request a higher limit. </p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseThirteen" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Can I run more than one campaign?</a>
          </div>
          <div class="accordion-body collapse" id="collapseThirteen">
            <div class="accordion-inner">
<p>Add Up limits the number of campaigns to one per school year. If you are studying in an undergraduate four -year program, for example, you could run four campaigns. </p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseFourteen" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">How does an Add Up scholarship affect my financial aid package?</a>
          </div>
          <div class="accordion-body collapse" id="collapseFourteen">
            <div class="accordion-inner">
<p>Policies vary from institution to institution. Therefore, we highly recommend that before using our services you first check with your educational institution to see how receiving outside scholarships will affect your financial aid package. </p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseFiveteen" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">What happens if I reach my funding goal before my deadline?</a>
          </div>
          <div class="accordion-body collapse" id="collapseFiveteen">
            <div class="accordion-inner">
<p>Your campaign continues to run until your deadline and your scholarship will consist of whatever you were able to raise, even if this exceeds your goal.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseSixteen" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">What if I don't reach my funding goal?</a>
          </div>
          <div class="accordion-body collapse" id="collapseSixteen">
            <div class="accordion-inner">
<p>Again, your scholarship will consist of whatever you were able to raise regardless of whether or not you meet your funding goal. In this case, your sponsors still deserve updates regarding your service work. Failure to follow through on your project because the funding goal was not reached is against what Add Up represents (as well as the Honor Code) and will be seriously considered should you apply for a scholarship in another year.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseSeventeen" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Can I change my funding goal or my deadline after launching?</a>
          </div>
          <div class="accordion-body collapse" id="collapseSeventeen">
            <div class="accordion-inner">
<p>No.
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse18" data-parent="#accordionSeventeen" data-toggle="collapse" class="accordion-toggle">Can my campaign be modified after launching?</a>
          </div>
          <div class="accordion-body collapse" id="collapse18">
            <div class="accordion-inner">
<p>You can add pictures and messages at any time, but you can’t change your funding goal, deadline or service project after you begin raising scholarship funds.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse20" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Can I cancel my campaign?</a>
          </div>
          <div class="accordion-body collapse" id="collapse20">
            <div class="accordion-inner">
<p>You can cancel your campaign only if you have not received any money towards your scholarship. Otherwise, your campaign will operate until its deadline at which time your scholarship money will be sent to your university.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse21" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">How do I get featured on the Add Up homepage?</a>
          </div>
          <div class="accordion-body collapse" id="collapse21">
            <div class="accordion-inner">
<p>The profiles featured on the Add Up home page, while at the discretion of the company, typically belong to students who have reached at least 30% of their funding goal within the first 10 days after launching their campaigns. Add Up cannot promise that everyone meeting this requirement will get featured.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse22" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Can I contact my sponsors directly?</a>
          </div>
          <div class="accordion-body collapse" id="collapse22">
            <div class="accordion-inner">
<p>You will be able to contact your sponsors directly through the social media resources (Facebook, Twitter, Google+) available on Add Up as well as indirectly through updates to your profile both during your campaign and while you are engaging in your service project at school.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse23" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">When will my university receive the scholarship money my campaign raises?</a>
          </div>
          <div class="accordion-body collapse" id="collapse23">
            <div class="accordion-inner">
<p>Within 15 business days of the completion of your campaign, Add Up will directly wire to your university the scholarship money you raised in one lump payment.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse24" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">What are my responsibilities once my campaign is over?</a>
          </div>
          <div class="accordion-body collapse" id="collapse24">
            <div class="accordion-inner">
<p>Great question! There are three things every Add Up scholarship recipient does after their campaign and which are specified on the Add Up Student Honor Code.</p>
<p>First, add up! Follow through on your service initiative.</p>
<p>Second, keep your sponsors informed of your service efforts – they want to know! Your Add Up profile will continue to be available after your campaign is over, so feel free to use the social media resources available on your page to keep your sponsors updated. Blog about your progress, upload pictures, share whatever you’d like with your sponsors. It’s really up to you, but remember the commitment you made of keeping them informed. </p>
<p>Third, add up to other students’ education in the future! As part of the Honor Code, you pledge to give 40% of what you, the student, were able to raise in your own campaign within five years after your graduation to other students through Add Up. This is a way for the donation you received to carry on and to keep empowering students to add up to their communities. </p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse26" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Do I have to repay the money I receive through Add Up?</a>
          </div>
          <div class="accordion-body collapse" id="collapse26">
            <div class="accordion-inner">
<p>Not entirely. Though the money collected through AddUp.org is a donation/gift from sponsors, you pledge to donate at least 40% of what you raise to other students through Add Up in the future (within 5 years of graduating) by signing the Honor Code. This is how Add Up encourages sponsors to be more generous with their donations, since they know that their donation will carry on.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse27" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">What happens if I don’t fulfill my commitments?</a>
          </div>
          <div class="accordion-body collapse" id="collapse27">
            <div class="accordion-inner">
<p>Legally, nothing. However, Add Up takes your personal commitment and Honor Code seriously. If you wish to use Add Up to raise money in the future, you will not be allowed to do so. We will publish on the website and in our newsletters updates of students who have fulfilled their commitments, so your sponsors, family and friends will know whether you fulfilled them or not. It is common courtesy and a way to maintain good relationships to follow through on your commitments.</p>
<h3>Sponsors</h3>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse28" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Why should I add up to someone's education?</a>
          </div>
          <div class="accordion-body collapse" id="collapse28">
            <div class="accordion-inner">
<p>Maybe you are a family member or friend (or friend of a friend) of a student and you would like to empower them in their educational and service endeavors.</p>
<p>Maybe you are an alumnus of a student’s university and you are interested in the contributions they will make to your alma mater and the community. </p>
<p>Maybe you are passionate about a particular cause and you feel inspired by a student’s plan to utilize his or her education to advance your cause’s mission through their study and/or service work. </p>
<p>Or maybe you are one of the many people who realize how important it is to have knowledgeable, energetic, and passionate students who believe in their capacity to make the world a better place.</p>
Whatever your motivation, there’s no bad reason to add up.
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse29" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">How do I contribute to a campaign?</a>
          </div>
          <div class="accordion-body collapse" id="collapse29">
            <div class="accordion-inner">
<p>Once you decide that you would like to add up to a student’s education, it’s as easy as buying a birthday gift online. Though Add Up utilizes PayPal as its payment processor, it is not necessary to have a PayPal account. </p>
<p>It doesn’t have to stop with financial contributions, either. You can always write encouraging notes on the profile page of the students whom you support and, of course, Add Up encourages you to share their story with your own social network in an effort to drum up further support.  </p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse30" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Who receives my donation?</a>
          </div>
          <div class="accordion-body collapse" id="collapse30">
            <div class="accordion-inner">
<p>The money raised by the student’s campaign, minus fees, goes directly to the student’s university. This ensures that your donation is used for the educational purpose for which you intended it.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse31" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">What are the fees associated with using Add Up?</a>
          </div>
          <div class="accordion-body collapse" id="collapse31">
            <div class="accordion-inner">
<p>Add Up utilizes PayPal, which has processing fees of 2.5% + $0.30 per domestic (U.S.) transaction and 3.5% + $0.30 per international transaction. Additionally, Add Up collects 3.5% from the total amount raised to cover our normal business costs and to enable our growth.</p>
<p>For example, a contribution from a sponsor in the U.S. will incur a total fee of 6% plus 30 cents. These fees – which are taken from the total amount donated and are not additional charges to sponsors – are less than crowdfunding industry standards (typically 7.5%). </p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse32" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Are my contributions tax-deductible?</a>
          </div>
          <div class="accordion-body collapse" id="collapse32">
            <div class="accordion-inner">
<p>No. Students themselves – despite having the ability to make immense, positive differences in their communities – are not non-profit institutions. Since the money raised goes towards a student’s scholarship (ultimately for the benefit of the student), adding up to a student’s scholarship is not recognized as a tax-deductible gift.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse34" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">If I add up, when is my account charged?</a>
          </div>
          <div class="accordion-body collapse" id="collapse34">
            <div class="accordion-inner">
<p>Your account (whether PayPal, checking, or credit card) is charged immediately upon adding up. The charge will appear on your statement as “Crowdscholarship.”</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse35" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">If funding does not succeed, do I pay anything?</a>
          </div>
          <div class="accordion-body collapse" id="collapse35">
            <div class="accordion-inner">
<p>Yes. Your decision to add up to a student’s education is made for any number of personal reasons. Whether or not that student reaches his or her funding goal does not change anything. The student still has the responsibility to keep you informed of their progress as they take action on their service plan.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse36" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">What if a student does not attend the university at which they planned to study or drop out?</a>
          </div>
          <div class="accordion-body collapse" id="collapse36">
            <div class="accordion-inner">
<p>Add Up goes to great lengths to ensure that students actually attend their stated universities by verifying that they are enrolled. In the rare case that a student transfers schools or drops out before the end of the year of their campaign, sponsors will be notified and the money donated will go into an Add Up General Fund and will be used to fund other extraordinary students.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse37" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">If I add up, what info does the student receive?</a>
          </div>
          <div class="accordion-body collapse" id="collapse37">
            <div class="accordion-inner">
<p>The student will know your Add Up User ID and how much you contributed. You are free to share more information (e.g. why you decided to give or an encouraging message), but that is not required. </p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse38" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">What happens after I add up to a student’s campaign?</a>
          </div>
          <div class="accordion-body collapse" id="collapse38">
            <div class="accordion-inner">
<p>After you add up, you will receive confirmation that your donation has been accepted. Once the campaign is over, you will receive confirmation of the deposit to the student’s university account. You can choose to receive newsletters from Add Up informing you of updates regarding the student’s service commitments and, of course, you will be kept informed by the student through the social media resources available on Addup.org.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse39" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Can I cancel a contribution I made?</a>
          </div>
          <div class="accordion-body collapse" id="collapse39">
            <div class="accordion-inner">
<p>No. Once you contribute to a student, it becomes final. </p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse40" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Do I need to have a PayPal account?</a>
          </div>
          <div class="accordion-body collapse" id="collapse40">
            <div class="accordion-inner">
<p>There is no need to have a PayPal account (though it will only take a few seconds to create one once you are in the process of making a donation). Add Up simply uses PayPal to manage transactions and to ensure that they are completed in a secure manner.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse41" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">What does Add Up do with the information I share?</a>
          </div>
          <div class="accordion-body collapse" id="collapse41">
            <div class="accordion-inner">
<p>For all questions regarding information use and security, please see our Privacy Policy (link).</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse42" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Who do I contact if I have a question about my contribution?</a>
          </div>
          <div class="accordion-body collapse" id="collapse42">
            <div class="accordion-inner">
<p>All questions can be directed to info@addup.org.</p>
Add Up 101
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse43" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">What types of service initiatives can I start?</a>
          </div>
          <div class="accordion-body collapse" id="collapse43">
            <div class="accordion-inner">
<p>The short answer: anything you want! You can start an anti-bullying campaign at a local high school. You can organize a local chapter of a youth-mentoring program. For those who are creatively inclined, you can offer free marketing and design services to non-profits or play music regularly at nursing homes. The sky is the limit. </p>
<p>The only thing you have to do is: make a positive social impact. Put some serious thought into your initiative. What skills and abilities do you have?</a>
          </div>
          <div class="accordion-body collapse" id="collapseOne">
            <div class="accordion-inner"> How will your talents be used?</a>
          </div>
          <div class="accordion-body collapse" id="collapseOne">
            <div class="accordion-inner"> Who will you help?</a>
          </div>
          <div class="accordion-body collapse" id="collapseOne">
            <div class="accordion-inner"> For more ideas, check out the idea generator (link).</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">How should I choose my funding goal and deadline?</a>
          </div>
          <div class="accordion-body collapse" id="collapseOne">
            <div class="accordion-inner">
<p>Choosing your funding goal is really a balancing act between four questions:</p>
<ul>
<li>How much money do you want to raise?</li>
<li>If you set a high funding goal, is your service initiative equally ambitious?</li>
<li>How far of a reach do the first two levels of your social network (your friends and family and their friends and family) have? They are a crucial part of your initial success and momentum.</li>
<li>Are you prepared to pledge 40% of what you raise to other students on Add Up within 5 years after graduation?</li>
</ul>
<p>Remember, Add Up is not an all-or-nothing funding site, so don’t sell yourself short. But also don’t aim for the stars if it’s unnecessary or you don’t have a clear sense of where your first few sponsors are coming from.</p>
<p>You can choose a funding deadline of 30, 45, or 60 days. Since you should be engaged throughout the entire campaign by posting regular updates and seeking to attract more sponsors, think about how much time you can commit to a targeted funding campaign.</p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">How can I enhance my profile to attract more sponsors?</a>
          </div>
          <div class="accordion-body collapse" id="collapseOne">
            <div class="accordion-inner">
<p>Be open. Be engaged. And make a video.</p>
<p>If you want people who don’t know you to add up to your education, you need to let them see the real you. People like honesty and enthusiasm. Don’t you?</a>
          </div>
          <div class="accordion-body collapse" id="collapseOne">
            <div class="accordion-inner"> Share with potential sponsors some fun information about yourself, why you want to add up to your community, what your awesome service project is, and how you’re going to make a big difference.</p>
<p>Even you don’t necessarily know why someone will sponsor you. It could be your specific service project, but it could also be your school, your talents or skill set, your cause, your career ambition…or it could just be you. Let that shine through on your profile. Better yet, make a short video.</p>
<p>While not a requirement, a video enhances a profile more than any other single element. It’s the best way for sponsors to gauge authenticity, enthusiasm, and purpose. Take advantage of this forum to ask people to help you make the difference you know you can make. It can be an elaborate production that takes you weeks to produce or it can be a one-take web-cam monologue with you sitting at your desk. Either way: let your natural excitement about your education and your service goals take center stage! </p>
</div></div></div><div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Ok, my profile is established. My campaign is about to go live. Now what?</a>
          </div>
          <div class="accordion-body collapse" id="collapseOne">
            <div class="accordion-inner">
<p>For starters, tell your family and friends about your campaign before it even launches. Ask them to share with their friends and family information about your campaign and plans to add up to your community (as well as the link to your profile page). Contact your greatest advocates and enlist them in your efforts to reach your funding goal. The more people working hard and leveraging their own networks for you, the faster you will reach your goal.</p>
<p>Once your campaign launches, utilize the social media tools available through Add Up. Copy the link to your student profile page to a Tweet, Google+ or Facebook post and ask your friends to share it with their friends. Better yet, utilize the Causes app on Facebook (http://www.causes.com/?</a>
          </div>
          <div class="accordion-body collapse" id="collapseOne">
            <div class="accordion-inner">utm_campaign=canvas&utm_medium=canvas&utm_source=fb) and copy a link to your Add Up page in the description.</p>
<p>Spread the word the old fashioned way and talk to everyone you know whom you might not reach through social media. </p>
<p>Write an update every few days to build excitement and encourage your sponsors to continue reaching out to their networks. Whether it’s because of who you are or how you’re planning to add up, people will want to help. Remember - stay engaged!</p>
      </div>
</div>
