<div class="center">

  <div class="student-stats">
    <h3 class="info-color bold top-space">HOW ADD UP WORKS</h3>
  </div>


  <div class="how">


    <div class="hiw clearfix">
      <h3 class="bold top-space">STUDENTS</h3>
      <div  id="row4" class="row clearfix">
        <span class="numeracion">1</span>
        <div class="how-step2 clearfix">
          <h2>Identify your skills, talents and passions to define your philanthropic project</h2>
          <p>Think about a change you would really like to see in your community. Think about a cause to which you would like to contribute. Think about your skills, your educational goals, your talents, and how you can or are using these characteristics to make the world around you a better place. Choose a way that you can add up.
          </p>
          <div class="diagram">
            <%= image_tag "how/student1.png" %>
          </div>
        </div>
      </div>
      <div  id="row5" class="row clearfix">
        <span class="numeracion">2</span>
        <div class="how-step2 clearfix">
          <h2>Make a profile that tells the world about you and your educational and philanthropic goals</h2>
          <p>Go to (link for application) to create your profile and share a little bit about who you are, your educational goals, why you care about adding up, and why you believe you have the capacity to do so. Make a short video about your social project. Choose 3-5 pictures that show potential sponsors the real you. Sign the Honor Code (link to Honor Code). Pay $25 and go live!
          </p>
          <div class="diagram">
            <%= image_tag "how/student2.png" %>
          </div>
        </div>
      </div>
      <div  id="row6" class="row clearfix">
        <span class="numeracion">3</span>
        <div class="how-step2 clearfix">
          <h2>Crowdfund your scholarship by running an engaged campaign</h2>
          <p>Share your Add Up profile through Facebook, Twitter, mail and good-old-fashioned word of mouth (to those friends, family members, and supporters who may be behind on the whole internet revolution thing). Be creative! Make a Facebook Cause and invite your friends to join it or send out an e-card. However you go about it, don’t forget to direct people to your Add Up profile where they can help fund your scholarship, which goes directly to your university. Your immediate network is the starting point and Add Up will expand your network with alumni and fellow nationals. From there, every recommendation and every dollar adds up.
          </p>
          <p class="asterisk">*Add Up utilizes PayPal to facilitate payments.</p>
          <div class="diagram">
            <%= image_tag "how/student3.png" %>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
