<div class="center">
  <div class="student-stats">
    <h3 class="bold top-space">HOW ADD UP WORKS</h3>
  </div>

  <div class="how">
    <span class="arrow right"></span>
    <span class="arrow left"></span>
    <div class="balls">
      <span id="ball1" class="ball ball-active"></span>
      <span id="ball2" class="ball"></span>
      <span id="ball3" class="ball"></span>
      <span id="ball4" class="ball"></span>
      <span id="ball5" class="ball"></span>
      <span id="ball6" class="ball"></span>
      <span id="ball7" class="ball"></span>
      <span id="ball8" class="ball"></span>
      <span id="ball9" class="ball"></span>
    </div>
    <div class="bubble">
      <div id="step1" class="step active">
        <span class="number">1.</span>
        WHO CAN APPLY?
      </div>
      <div id="step2" class="step">
        <span class="number">2.</span>
        APPLY!
      </div>
      <div id="step3" class="step">
        <span class="number">3.</span>
        CAMPAIGN
      </div>
      <div id="step4" class="step">
        <span class="number">4.</span>
        NETWORK
      </div>
      <div id="step5" class="step">
        <span class="number">5.</span>
        CROWDFUND
      </div>
      <div id="step6" class="step">
        <span class="number">6.</span>
        PAYMENT
      </div>
      <div id="step7" class="step">
        <span class="number">7.</span>
        STUDY
      </div>
      <div id="step8" class="step">
        <span class="number">8.</span>
        CONTRIBUTE
      </div>
      <div id="step9" class="step">
        <span class="number">9.</span>
        BLOG
      </div>
    </div>
    <div class="window">
      <div id="how1" class="how-step active">
        <img src="assets/how/how1.png" alt="" />
        <p>AddUp seeks out students who are accepted or currently enrolled in university,in the US who are commited to using their education to have a positive impact on their communities. For now, we are accepting applications from Mexico and Korea Students, but are hoping to expand soon.
        </p>
      </div>
      <div id="how2" class="how-step">
        <img src="assets/how/how2.png" alt="" />
        <p>1 Students Complete an application sharing information about their educatinal goals and social cause.</p>
        <p>2 They must also sign on honor code commiting to fulfill their service project and give 40% of the money raised back to other students on Add Up in the 10 years after graduating.</p>
        <p>3 Add Up validates that the student is indeed enrolled at he university and makes sure the profile meets Add Ups requirements and standard.</p>
      </div>
      <div id="how3" class="how-step">
        <img src="assets/how/how3.png" alt="" />
        <p>Students then use the free social media tools provided by Add Up’s platform to get relatives, friends, alumni or fellow nationals who share a common regard for the quality of a US education to endorse their educational goals and social cause and contribute towards their tuition.</p>
      </div>
      <div id="how4" class="how-step">
        <img src="assets/how/how4.png" alt="" />
        <p>Simultaneously, Add Up’s ambassador’s promote AddUp with alumni of the student’s university and/or people from their home country and advocates of their social cause thus expanding the student’s potential network of donors. </p>
      </div>
      <div id="how5" class="how-step">
        <img src="assets/how/how5.png" alt="" />
        <p>Through contributions starting from $1, anyone can be inspired by a student’s story and cause. Once inspired, it takes less than 3 minutes to add up to his education. Donors can further help a student by sharing his story on Facebook, Twitter or by e-mail. </p>
      </div>
      <div id="how6" class="how-step">
        <img src="assets/how/how6.png" alt="" />
        <p>At the end of the campaign, Add Up pays the collected money directly to the university towards the student’s tuition.</p>
      </div>
      <div id="how7" class="how-step">
        <img src="assets/how/how7.png" alt="" />
        <p>The student has the rest of the year to study without worrying about his finances...</p>
      </div>
      <div id="how8" class="how-step">
        <img src="assets/how/how8.png" alt="" />
        <p>…and to fulfill his promises of paying it forward through charitable contributions of creativity, energy and time. </p>
      </div>
      <div id="how9" class="how-step">
        <img src="assets/how/how9.png" alt="" />
        <p>By posting updates throughout the year, donors are kept informed of the students advances in his studies, leadership activities and service projects.</p>
      </div>

    </div>
  </div>

</div>
