<html>
<head>
<title>Web</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div style="position:absolute; left:0px; top:0px; width:1280px; height:1030px;">
 
	<div style="background-image:url('/assets/how.png'); position:absolute; left:4px; top:0px; width:1276px; height:1030px;" title="">
	</div>
</div>
 
</body>
</html>
