<div class="center">

  <div class="student-stats">
    <h3 class="info-color bold top-space">HOW ADD UP WORKS</h3>
  </div>

  <div class="how">

    <div class="hiw clearfix">
      <h3 class="bold top-space">SPONSORS</h3>
      <div id="row1" class="row">
        <span class="numeracion">1</span>
        <div  class="how-step2 clearfix">

          <h2>Browse through profiles of extraordinary students</h2>
          <p>Discover the profiles of students who have pledged to use their skills, talents and passion to add up to their communities. Whether you are simply inspired by a student’s story or you come to Add Up to contribute to students you know, who share your nationality, your alma mater, or your cause, we are sure you will find a student who captures your attention and earns your contribution.
          </p>
          <p class="asterisk">*In the near future, we will make browsing easier by enabling you to search for students by nationality, school, program of study and cause.</p>
          <div class="diagram">
            <%= image_tag "how/sponsor1.png" %>
          </div>
        </div>
      </div>
      <div id="row2" class="row">
        <span class="numeracion">2</span>
        <div class="how-step2 clearfix">

          <h2>Invest in students and their social projects</h2>
          <p>Your investment is non-traditional and you won’t receive a financial return. Investing in a student will instead earn returns for society. Your financial support will boost a student’s confidence in her capacity to have a positive impact in her community and encourage her to keep adding up in the future. Your money will not be paid back to you, but 40% of it will be paid forward by the student in the future to other students on the Add Up platform – the second pledge in the Student Honor Code. This way, your contribution will carry on.
          </p>

          <div class="diagram">
            <%= image_tag "how/sponsor2.png" %>
          </div>
        </div>
      </div>
      <div  id="row3" class="row">
        <span class="numeracion">3</span>
        <div class="how-step2 clearfix">

          <h2>Choose to receive updates on your student’s activities</h2>
          <p>Students who receive money through Add Up also make a third and final pledge to keep their sponsors informed throughout the year regarding the progress of their social project, as well as their academic pursuits. This way, if you opt in, you will be able to see how the student you supported is contributing to her community.
          </p>
          <div class="diagram">
            <%= image_tag "how/sponsor3.png" %>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
