<div class="center">
  <img src="assets/logo.png" class="logo" alt="ADD UP"/>
  <%= render "banner" %>
 <h1 class="action-text bold start">Start Adding Up!</h1>
  <%= render "slider" %>
  <p class="quote">"This is a great way to use crowdsourcing. Since early times and early days, ADD UP has always been a great tool."</p>
  <h5 class="quote">- The Wall Street Journal</h5>
  <%= render "notified1" %>
  <%= render "notified" %>
</div>
