<div class="center">
  <%= image_tag ("logo.png"), :class => "logo",  :alt => "ADD UP" %>
  <div class="banner">
    <div class="summary">
      <h2>Donate towards a student's tuition and see them pay it forward</h2>
      <ol>
        <li><span>1.</span><h3>Discover extraordinary students</h3></li>
        <li><span>2.</span><h3>Donate towards their tuition</h3></li>
        <li><span>3.</span><h3>Inspire their charitable contribution </h3></li>
      </ol>
      <a href="howitworks.html" class="button action" >Learn more</a>
    </div>
    <%= render 'mosaic' %>
  </div>

  <h1 class="action-text bold start">Start Adding Up!</h1>

  <div class="recomendations">
    <span class="arrow right"></span>
    <span class="arrow left"></span>
    <div class="window">
      <%= render 'slider' %>
    </div>
  </div>

  <p class="quote">"This is a great way to use crowdsourcing. Since early times and early days, ADD UP has always been a great tool."</p>
  <h5 class="quote">- The Wall Street Journal</h5>

  <div class="prospects get-notified dark-bg">
    <form accept-charset="UTF-8" action="" method="post">
      <div class="slider-questions">

        <div class="inquiry">
          <h5>Get notified when more students are available</h5>
          <span class="button action">Sign up for Early Notification</span>
        </div>
        <div class="inquiry">
          <h5>Enter your email</h5>
          <input id="email" name="email" type="text">
          <span class="button action next">Submit</span>
        </div>
        <div class="inquiry">
          <h5>Are you an alumni of a US institution?</h5>
          <select name="universities">
            <option value="harvard">Harvard</option>
            <option value="stanford">Stanford</option>
            <option value="Berkeley" selected="selected">Berkeley</option>
            <option value="utexas">University of Texas</option>
          </select>
          <span class="button action next">Almost done</span>
        </div>
        <div class="inquiry">
          <h5>From which country are you?</h5>
          <select name="countries">
            <option value="india">India</option>
            <option value="mexico">Mexico</option>
            <option value="southcorea" >South Corea</option>
            <option value="usa" selected="selected">USA</option>
          </select>
          <span class="button action next">One more</span>
        </div>
        <div class="inquiry">
          <h5>To which cause would you like to Add Up?</h5>
          <input id="cause" name="cause" type="text">
          <input class="button action next" name="commit" type="submit" value="Done!">

        </div>
        <div class="inquiry">
          <h5>Thanks! You've just registered for Early Notifications</h5>
        </div>

      </div>
    </form>
  </div>

  <div class="prospects need-funding">
    <form accept-charset="UTF-8" action="" method="post">
      <div class="slider-questions">
        <div class="inquiry">
          <h6 class="action-text">Need funding? Want to include your University?</h6>
          <span class="button info-bg-color">Apply Now</span>
        </div>
        <div class="inquiry">
          <h6 class="action-text">Enter your email</h6>
          <input class="email" name="email" type="text">
          <span class="button info-bg-color next">Submit</span>
        </div>
        <div class="inquiry">
          <h6 class="action-text">Which University do you wish to see on Add Up?</h6>
          <select name="universities">
            <option value="harvard">Harvard</option>
            <option value="stanford">Stanford</option>
            <option value="Berkeley" selected="selected">Berkeley</option>
            <option value="utexas">University of Texas</option>
          </select>
          <input class="button info-bg-color next" name="commit" type="submit" value="Done!">
        </div>
        <div class="inquiry">
          <h6 class="action-text">Thanks! We will contact you soon with more information</h6>

        </div>
      </div>
    </form>
  </div>
</div>

