<div class="center">
  <div class="guide">
    <div class="master-step first-step"></div>
    <h1>GETTING STARTED</h1>
    <i class="icon-chevron-right"></i>
    <h2>What You'll Nedd</h2>
    <h2>Account Type</h2>
 </div>
  <div class="guide">
    <div class="master-step second-step"></div>
   <h1>ABOUT YOU</h1>
   <i class="icon-chevron-right"></i>
   <h2>Personal Information</h2>
   <h2>University Information</h2>
 </div>
  <div class="guide">
    <h1>PHOTOS & VIDEO</h1>
   <i class="icon-chevron-right icon-white"></i>
</div>
  <div class="guide">
    <h1>SHARED WITH US</h1>
   <i class="icon-chevron-right icon-white"></i>
</div>
  <div class="guide">
    <h1>FINISH</h1>
    <i class="icon-chevron-right icon-white"></i>
  </div>
</div>
