<div class="center">
  <div class="guide">
    <div class="master-step first-step"></div>
    <h1>GETTING STARTED</h1>
    <i class="icon-chevron-right"></i>
    <h2>What You'll Nedd</h2>
    <h2>Account Type</h2>
  </div>
  <div class="guide">
    <div class="master-step second-step"></div>
    <h1>ABOUT YOU</h1>
    <i class="icon-chevron-right"></i>
    <h2>Personal Information</h2>
    <h2>University Information</h2>
  </div>
  <div class="guide">
    <div class="master-step three-step"></div>
    <h1>PHOTOS & VIDEO</h1>
    <i class="icon-chevron-right"></i>
    <h2>Youtube Video</h2>
    <h2>Photo Classmate</h2>
  </div>
  <div class="guide">
    <div class="master-step four-step"></div>
    <h1>SHARED WITH US</h1>
    <i class="icon-chevron-right"></i>
    <h2>You Community</h2>
    <h2>Sponsor Information</h2>
  </div>
  <div class="guide last">
    <div class="master-step five-step"></div>
    <h1>FINISH</h1>
    <i class="icon-chevron-right"></i>
    <h2>Payment Information</h2>
    <h2>Checkout Information</h2>
  </div>
  <div class="custum-form">
    <%=render 'start' %>
<!--    <div class="about-you">
      <h4>1. Tell us about yourself...</h4>

    </div> -->
  </div>
</div>
