<div class="center">
  <div class="two-thirds">
<h5 class="bold top-space">PRIVACY POLICY</h5>
<p>
At Add up we know the importance of keeping your personal information safe and therefore we invite you
to carefully read our Privacy Policy.
</p>
<p>
The Internet platform (the “Site”) is operated by Crowd Scholarship LLC ("Add Up" or the "Company"),
through the website www.addup.org, as well as any and all other internet websites owned and operated
by the Company that redirect to www.addup.org, and all subdomains (collectively also referred as the
“Site”).
</p>
<p>
To provide the Services described in the Terms of Use (establecer hyperlink a la parte de Terms & Use),
Add Up requires you to provide certain personal information. Add Up uses your personal information only
for purposes of providing and improving the Add Up’s Service. By using the Service, you consent to the
collection and use of information in accordance with this Policy.
</p>
<p>
The Company reserves the right, at its sole discretion, to modify or replace this Policy by posting the
updated version on the Site. It is your responsibility to review this Policy periodically for changes.
Your continued use of the Service following the posting of any changes to this Policy constitutes your
acceptance of the updated Policy.</p>

<h3>Information that Add Up Collects from You</h3>

<p>We may collect and process the following information about you, including without limitation:
Full name, email, postal address, telephone numbers, gender, and place of residence, field</p>

<li>
Full name, email, postal address, telephone numbers, gender, and place of residence, field of study, degree, current year of study, length of study program, university were you attend, total
annual cost of attendance to the program, your fund raising goal, time frame for fund raising
campaign;
</li>

<li>
details of how you will add up to your community;
</li>

<li>
description of yourself and your educational goals, and the reason why you care about making a positive impact in your community;
</li>

<li>
payment information from Sponsors;
</li>

<li>
proof of financial ability from Sponsors;
</li>

<li>
a User ID and password to create an account to complete the sign-in process;
</li>

<li>
any requests or transactions made by you through the Service;
</li>

<li>
communications you send to us, for example to report a problem or to submit inquiries, concerns, or comments regarding the Service or its content;
</li>

<li>
information that you post on the Site in the form of comments or contributions to discussions;
</li>

<li>
IP addresses; and
</li>

<li>
Any other information that Add Up may deem necessary to request to fully provide the Services accordingly.
</li>

</ul>
<h1>Uses of Personal Information</h1>

<p>We will use the personal information you provide only to:</p>

<li>create your application;</li>
identify you when you sign-in to your account;</li>
enable us to provide you with the Services;</li>
send you information Add Up deems useful for its users or which you have requested from Add
Up;</li>
<li>present fundraising projects to you when you use the Service;</li>
<li>manage your account;</li>
enable us to contact you regarding any question you <li>make through the Service;</li>
<li>analyze the use of the Service and the people visiting to improve our content and Services; and
use for other purposes that we may disclose to you when we request your information.</li>
<p>
Except for the specific purposes specified above, the Company will not disclose your name or personal
information to any third party.</p>
<p>

Students receive the User ID, pledge amounts, names and emails of their Sponsor(s).
</p><p>
STUDENTS NEVER RECEIVE SPONSORS' INFORMATION REGARDING SPONSORS’ PAYMENT
INFORMATION.
</p>
<h3>Third-Party Websites and Services</h3>
<p>
The Service may permit you to link to other websites or resources on the internet, and other websites or
resources may contain links to the Site. When you access third-party websites, you do so at your own
risk. Those other websites are not under the Company's control, and you acknowledge that the Company
is not liable for the content, functions, accuracy, legality, appropriateness, or any other aspect of those
other websites or resources. The inclusion on another website of any link to the Site does not imply
endorsement by or affiliation with the Company. You further acknowledge and agree that the Company
shall not be liable for any damage related to the use of any content, goods, or services available through
any third-party website or resource.
</p>
<h3>Voluntary Disclosure of Information</h3>
<p>
When you voluntarily post or disclose any personal information or content in public areas of the Site, that
information becomes publicly available and can be collected and used by other users. We recommend
you to be cautious before disclosing your personal information on the public areas of the Site.
</p>
<h3>Disclosure of Information by Law</h3>
<p>
From time to time, Add Up may be required by law to disclose your personal information. Therefore, Add
Up reserves the right to disclose this information if and as required by any applicable law, as well as
when Add Up deems that disclosure is necessary to protect our rights, or in the good-faith belief that it is

necessary to comply with the law.
</p>
<p>
You may delete, modify or update your personal information from the Site. To do so, you must log-
in to the Site. However, it is important to remember that Add Up needs certain information to provide
the Services. Therefore, we reserve the right to cancel your account if the necessary information is not
provided. We may keep certain information as required by law or for necessary business purposes.
</p>
<p>
Upon a written request by you, we will provide you with a copy of all your personal information on file.
This information is subject to a fee not exceeding the prescribed fee permitted by law.
</p>
<p>
The Service is available only to individuals who are at least 18 years old or of majority of age according to
their applicable jurisdiction. You represent and warrant that if you are an individual, you are of majority of
age and with legal age and capacity to enter a binding contract, and that all registration information you
submit is accurate and truthful. The Company may, in its sole discretion, refuse to offer the Service to any
person or entity and change its eligibility criteria at any time.
</p>
<p>
Individuals who are under age must be assisted by a parent or tutor.
</p>
<p>
Information that you submit through the Service may be transferred to countries outside the United States
of America to provide the Service to you. If we transfer your information outside the United States, we will
take steps to ensure that your privacy rights continue to be protected.
</p>
<p>
For any questions, please contact us by email at info@addup.org
</p>
</div>
</div>


