<%= render "facebook"  %>
<div id="blurry" class="blurr">
  <div class="msg-box">
    <form accept-charset="UTF-8" action="" method="post">
      <div class="msg-header">
        <h1><span class="msg-to">TO:</span> <span class="msg-name">Boris Wayne</span> </h1>
      </div>
      <div class="msg-textarea">
        <label for="name">Full Name</label>
        <input id="name" name="name" type="text">
        <label for="email">Email Address</label>
        <input id="email" name="email" type="text">
        <label for="message">Message</label>
        <textarea id="message" name="message"></textarea>
      </div>
      <div class="msg-footer">
        <input class="button info-bg-color" name="commit" type="submit" value="ASK A QUESTION">
        <span class="msg-cancel info-color">Cancel</span>
      </div>
    </form>
  </div>
</div>
<div class="center">
  <div class="two-thirds">
    <div class="student-stats">
      <h3 class="bold top-space">Cynthia White <span class="icon checkmark"></span></h3>
      <div class="bubble approved normal"></div>
      <h5>MBA Candidate (2nd year out of 4 year program)<span class="icon info-icon"> </span></h5>
      <div class="bubble tuition">
        <span class="money">$23,203</span>
        total cost of annual attendance
      </div>
      <h5>Georgetown University</h5>
      <h5>USA, Houston</h5>
    </div>

    <div class="holder">
      <span class="pics arrow left"> </span>
      <div class="window profile">
        <div class="student-slider-pics">
          <ul>
            <li>
              <div class="image">
                <iframe width="580" height="315" src="http://www.youtube.com/embed/x78PnPd-V-A?&rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="caption">
                <h5>My cause</h5>
              </div>
            </li>
            <li>
              <div class="image"><img src="img/campaign/campaign1.jpg" />
              </div>
              <div class="caption">
                <h5>My classmates</h5>
              </div>
            </li>
            <li>
              <div class="image"><img src="img/campaign/campaign2.jpg" />
              </div>
              <div class="caption">
                <h5>My family</h5>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <span class="pics arrow right"> </span>
    </div>
    <div class="social-share">

      <div class="fb-like" data-href="http://www.addup.org/student" data-send="false" data-width="300" data-show-faces="false"></div>

      <a href="https://twitter.com/share" class="twitter-share-button" data-via="twitterapi" data-lang="en">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <a href="mailto:info@addup.org?subject=Cynthia%20White&body=check%20this%20%0Ahttp://www.addup.org" class="button e-mail share"><span class="email-icon"></span> <span>e-mail</span></a>
    </div>

    <h5 class="hot highlight top-space">I WILL ADD UP BY...</h5>
    <div class="important">
      <div class="important-content">
        <p>
          Take care of puppies that live on the streets without any owner that looks after them.
        </p>
        <div class="supporting-summary">
          <span class="supporting hot">Supporting...</span>
          <img src="img/orgs/wikipedia.png" alt="Wikipedia" />
        </div>
      </div>
    </div>

    <h5 class="bold top-space">WHY I NEED YOU TO ADD UP TO MY EDUCATION...</h5>
    <p>
      I come from a small town called Ingersoll, so moving to Toronto was nothing short of exciting. During my lifetime, I have aspired to be many things. When I was five, I wanted to be a firetruck, I was devastated when I discovered that that could not be my future.
      Right now, I have decided that I am going to work in the Film Industry. The idea of being able to create the kind of films that I would want to watch thrills me. Ideally, I think it would be the height of awesome to make comedies as I love making people laugh. My biggest accomplishment is probably getting out of bed each morning because I love sleeping.
    </p>

    <h5 class="bold top-space">WHY I ABOUT ADDING UP...</h5>
    <p>
      I come from a small town called Ingersoll, so moving to Toronto was nothing short of exciting. During my lifetime, I have aspired to be many things. When I was five, I wanted to be a firetruck, I was devastated when I discovered that that could not be my future.
      Right now, I have decided that I am going to work in the Film Industry. The idea of being able to create the kind of films that I would want to watch thrills me. Ideally, I think it would be the height of awesome to make comedies as I love making people laugh. My biggest accomplishment is probably getting out of bed each morning because I love sleeping.
    </p>

    <span class="button info-bg-color msg profile-ask">Ask a Question</span>
    <div>
      <h5 class="bold">FACEBOOK COMMENTS</h5>
      <div class="fb-comments" data-href="http://addup.org" data-num-posts="2" data-width="470"></div>
    </div>
  </div>

  <div class="sidebar-profile">
    <div class="verified-by-addup">
      <h5><span class="icon checkmark"></span>Verified by ADD UP</h5>

      <p>
        This student has been carefully verified by the AddUp Team
      </p>
      <a class="how-it-works" href="how.html">How it works</a>
    </div>

    <div class="frame dark-bg profile-side">
      <div class="block goal-stats">
        <ol>
          <li class="numbers">
            109
          </li>
          <li class="labels">
            addupers
          </li>
          <li class="numbers">
            $1,020
          </li>
          <li class="labels">
            added up of $2,000 goal
          </li>
          <li class="numbers">
            10
          </li>
          <li class="labels">
            days left
          </li>
          <li>
            <a href="rewards.html" class="button action go-to-rewards shadow">Add up to this Student<span class="min-amount">$1 minimum</span></a>
          </li>
          <li>
            <a href="how.htm" class="how-it-works">How ADD UP works</a>
          </li>
        </ol>
      </div>
      <div class="block teacher">
        <span> <span class="verified corner-check"> </span></span>
        <div class="bubble approved reflect"> </div>
        <b>Endorsed by</b>
        <h6>Ms. Erika Yellowstone</h6>
        <div class="avatar"><img src="img/teachers/teacher1.jpg	" />
        </div>
        <div class="sponsor-name">
          <b>Georgetown University</b>
          <b>Foreign Student Advisor</b>
          <span class="button info-bg-color msg">Contact</span>
        </div>
        <p>
          “Cynthia is a great student, she always completes here tasks on time and participates in class.”
        </p>

      </div>
      <div class="block reward-side">
        <ol>
          <!-- 				<li>
            <a href="rewards.html"> <h5>Add <span>$1</span> or more</h5>
              <ul class="symbol-line">
                <li>
                  <span class="icon symbol"> </span>
                </li>
                <li>
                  35 addupers
                </li>
              </ul>
              <p>
                “Every bit helps. Thanks a lot!”
            </p> </a>
          </li> -->
          <li>
            <a href="rewards.html"> <h5>Add <span>$35</span> or more</h5>
              <ul class="symbol-line">
                <li>
                  <span class="icon symbol"> </span>
                </li>
                <li>
                  15 addupers
                </li>
              </ul>
              <p>
                “Every bit helps. With this I’ll take outsome of the hungriest and loneliest puppies to get sunshine, bath, and plenty of food.
            </p> </a>
          </li>
          <!-- 							<li>
            <a href="rewards.html"> <h5>Add <span>$305</span> or more</h5>
              <ul class="symbol-line">
                <li>
                  <span class="icon symbol"> </span>
                </li>
                <li>
                  3 addupers
                </li>
              </ul>
              <p>
                “Every bit helps. With this I’ll take outsome of the hungriest and loneliest puppies to get sunshine, bath, and plenty of food.
            </p> </a>
          </li> -->
        </ol>
      </div>
    </div>
  </div>
</div>
