<div class="center">
  <div class="two-thirds">
    <div class="student-stats">
      <h3 class="bold top-space">Cynthia White <span class="icon checkmark"></span></h3>
      <div class="bubble approved">
      </div>
      <h5>MBA Candidate (2nd year out of 4 year program)<span class="icon info-icon"> </span></h5>
      <div class="bubble tuition">
        <span class="money">$23,203</span>
        total cost of annual attendance
      </div>
      <h5>Georgetown University</h5>
      <h5>USA, Houston</h5>
    </div>

    <div class="holder">
      <span class="arrow"> </span>
      <div class="window profile">
        <div class="student-slider-pics">
          <ul>
            <li><img src="" />
            </li>
            <li>
              <iframe width="560" height="315" src="http://www.youtube.com/embed/x78PnPd-V-A?rel=0" frameborder="0" allowfullscreen></iframe>
            </li>
          </ul>
        </div>
      </div>
      <span class="arrow"> </span>
    </div>

    <div class="share-box-wrap">
      <ul>
        <li class="facebook first">
          <fb:like data-tracker-name="Facebook" font="lucida grande" href="http://www.kickstarter.com/projects/1893407396/the-new-science" show_faces="false" width="331" fb-xfbml-state="rendered" class="fb_edge_widget_with_comment fb_iframe_widget">
          <span style="height: 24px; width: 331px; "><iframe id="f8becd198" name="f21cdca8a" scrolling="no" style="border: none; overflow: hidden; height: 24px; width: 331px; " title="Like this content on Facebook." class="fb_ltr" src="http://www.facebook.com/plugins/like.php?api_key=69103156693&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D11%23cb%3Df3b4fd8f9%26origin%3Dhttp%253A%252F%252Fwww.kickstarter.com%252Ffbbc1f45c%26domain%3Dwww.kickstarter.com%26relation%3Dparent.parent&amp;extended_social_context=false&amp;font=lucida%20grande&amp;href=http%3A%2F%2Fwww.kickstarter.com%2Fprojects%2F1893407396%2Fthe-new-science&amp;layout=standard&amp;locale=en_US&amp;node_type=link&amp;sdk=joey&amp;show_faces=false&amp;width=331"></iframe></span>
          </fb:like>
        </li>
        <li class="short-link">
          <input class="text" id="share_a_link" name="share_a_link" type="text" value="http://kck.st/SRtoI1">
        </li>
        <li class="embed">
          <a href="/projects/1893407396/the-new-science/widget" class="button-action remote_modal_dialog" data-modal-title="Embed a widget on your site" data-tracker-name="Embed"><span class="icon-embed"></span>Embed</a>
        </li>
        <li class="twitter">
          <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.1347008535.html#_=1348598433006&amp;count=none&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fwww.kickstarter.com%2Fprojects%2F1893407396%2Fthe-new-science%3Fref%3Dhome_spotlight&amp;size=m&amp;text=The%20New%20Science%20by%20Conquistador%20Games%20%E2%80%94%20Kickstarter&amp;url=http%3A%2F%2Fkck.st%2FSRtoI1&amp;via=kickstarter" class="twitter-share-button twitter-count-none" style="width: 59px; height: 20px; " title="Twitter Tweet Button" data-twttr-rendered="true"></iframe>
        </li>
      </ul>
    </div>
    <h5 class="hot">I WILL ADD UP BY...</h5>
    <div class="important">
      <div>
        <p>
          Take care of puppies that live on the streets without any owner that looks after them.
        </p>
        <span class="supporting hot">Supporting</span>
        <img src="wikipedia.png" alt="Wikipedia" />
      </div>
    </div>

    <h5>WHY I NEED YOU TO ADD UP TO MY EDUCATION...</h5>
    <p>
      I come from a small town called Ingersoll, so moving to Toronto was nothing short of exciting. During my lifetime, I have aspired to be many things. When I was five, I wanted to be a firetruck, I was devastated when I discovered that that could not be my future.
      Right now, I have decided that I am going to work in the Film Industry. The idea of being able to create the kind of films that I would want to watch thrills me. Ideally, I think it would be the height of awesome to make comedies as I love making people laugh. My biggest accomplishment is probably getting out of bed each morning because I love sleeping.
    </p>

    <h5>WHY I ABOUT ADDING UP...</h5>
    <p>
      I come from a small town called Ingersoll, so moving to Toronto was nothing short of exciting. During my lifetime, I have aspired to be many things. When I was five, I wanted to be a firetruck, I was devastated when I discovered that that could not be my future.
      Right now, I have decided that I am going to work in the Film Industry. The idea of being able to create the kind of films that I would want to watch thrills me. Ideally, I think it would be the height of awesome to make comedies as I love making people laugh. My biggest accomplishment is probably getting out of bed each morning because I love sleeping.
    </p>

    <span class="button msg">Ask a Question</span>
    <div>
      <h5>FACEBOOK COMMENTS</h5>
    </div>
  </div>
  <div class="sidebar">
    <ul>
      <li>
        <span class="verified square-check"> </span>
      </li>
      <li>
        <h5>Verified by ADD UP</h5>
      </li>
    </ul>
    <p>
      This student has been carefully verified by the AddUp Team
    </p>
    <a href="how.html">How it works</a>

    <div class="frame">
      <div class="block">
        <ol>
          <li class="numbers">
            109
          </li>
          <li class="labels">
            addupers
          </li>
          <li class="numbers">
            $1,020
          </li>
          <li class="labels">
            added up of $2,000 goal
          </li>
          <li class="numbers">
            10
          </li>
          <li class="labels">
            days left
          </li>
          <li>
            <a href="rewards.html" class="button action">Add up to this Student<span class="min-amount">$1 minimum</span></a>
          </li>
          <li>
            <a href="how.htm">How ADD UP works</a>
          </li>
        </ol>
      </div>
      <div class="block">
        <span class="verified corner-check"> </span>
        <span class="bubble verified-tooltip"> </span>
        <b>Endorsed by</b>
        <h6>Ms. Erika Yellowstone</h6>
        <div class="avatar"><img src="teacher.png" />
        </div>
        <div class="sponsor-name">
          <b>Georgetown University</b>
          <b>Foreign Student Advisor</b>
          <span class="button msg">Contact</span>
        </div>
        <p>
          “Cynthia is a great student, she always completes here tasks on time and participates in class.”
        </p>

      </div>
      <div class="block">
        <ol class="reward">
          <li>
            <h5>Add <span>$1</span> or more</h5>
            <ul>
              <li>
                <span class="symbol"> </span>
              </li>
              <li>
                35 addupers
              </li>
            </ul>
            <p>
              “Every bit helps. Thanks a lot!”
            </p>
          </li>
          <li>
            <h5>Add <span>$35</span> or more</h5>
            <ul>
              <li>
                <span class="symbol"> </span>
              </li>
              <li>
                15 addupers
              </li>
            </ul>
            <p>
              “Every bit helps. With this I’ll take outsome of the hungriest and loneliest puppies to get sunshine, bath, and plenty of food.
            </p>
          </li>
          <li>
            <h5>Add <span>$305</span> or more</h5>
            <ul>
              <li>
                <span class="symbol"> </span>
              </li>
              <li>
                3 addupers
              </li>
            </ul>
            <p>
              “Every bit helps. With this I’ll take outsome of the hungriest and loneliest puppies to get sunshine, bath, and plenty of food.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>


