<div class="center">
  <h3 class="top-space">AddUp.org Terms of Use</h3>
  <p>
    WELCOME TO ADD UP! WE ARE A COMPANY PROVIDING A PLATFORM ORIENTED TOWARDS
    CROWD-FUNDING FOR HIGHER EDUCATION TUITION, WHICH BRINGS TOGETHER SPONSORS
    AND INTERNATIONAL STUDENTS, BOTH SEEKING TO CREATE A POSITIVE SOCIAL IMPACT.
  </p>
  <p>
    BEFORE USING OUR SERVICES, WE, CROWD SCHOLARSHIP LLC (HEREINAFTER REFERRED
    AS "ADD UP" OR THE "COMPANY") ASK YOU TO CAREFULLY READ THESE TERMS OF USE
    (THE "AGREEMENT" OR THE "TERMS OF USE"). THIS AGREEMENT SETS FORTH THE LEGALLY
    BINDING TERMS AND CONDITIONS FOR YOUR USE OF THE WEBSITE www.addup.org OR ANY
    OTHER SITES OWNED AND OPERATED BY ADD UP THAT REDIRECT TO www.addup.org, ALL
    SUBDOMAINS (COLLECTIVELY, THE "SITE"), AND THE SERVICES OWNED AND OPERATED
    BY THE COMPANY (TOGETHER WITH THE SITE, THE "SERVICES"). BY USING THE SERVICES
    IN ANY MANNER, INCLUDING, BUT NOT LIMITED TO, VISITING OR BROWSING THE SITE OR

    BY REGISTRATION, CONTRIBUTING CONTENT, INFORMATION, OR OTHER MATERIALS OR
    SERVICES TO THE SITE, YOU AGREE TO BE BOUND BY THIS AGREEMENT.
  </p>

  <h5 class="bold top-space">1. Summary of Service</h5>
  <p>
    Sponsors add up to a student’s higher-education tuition when they feel drawn to the student’s
    service mission, course of study, or social cause. Empowered by the support of their sponsors,
    students then add up to their communities through any number of different community-building
    endeavors (link to idea generator). In the end, everybody wins. Add Up simply provides the crowd-
    funding platform to make it all happen.
  </p>
  <p>
    Add Up is an Internet platform where international students, (hereinafter referred to as any person who
    is not a U.S. citizen or a legal permanent resident of the United States of America and who is enrolled in
    a higher education institution according to the Carnegie Classification), (the "Student" or “Students”), run
    campaigns or community projects with positive social impact, to have their higher education in the U.S.
    funded or sponsored by other users (“Sponsors”).
  </p>
  <p>
    The higher education institution where the Student will be or is enrolled must be defined by the framework
    provided by the Carnegie Classification. (link to http://classifications.carnegiefoundation.org/)
  </p>
  <p>
    Once the Students have completed their higher education they are encouraged to pay forward within five
    years of graduation, a percentage of the money raised in their own campaigns, as a way to express their
    appreciation and support the cause. Please review carefully the Fundraising Campaign clause hereinafter
    and the Add Up Student Honor Code (link to Honor Code).
  </p>
  <p>
    At the Site, email, websites, and other media, the Service makes accessible various content, including,
    but not limited to, videos, photographs, images, artwork, graphics, audio clips, comments, data, text,
    software, scripts, projects, other material and information, and associated trademarks and copyrightable
    works (collectively, “Content”). Students, Sponsors, and other visitors and users of the Service
  </p>
  <p>
    (collectively, “Users”) may have the ability to contribute, add, create, upload, submit, distribute and
    facilitate the distribution of, as well as collect, post, or otherwise make accessible ("Submit") Content.
    “User Submissions” means any Content Submitted by Users.</p>
  <h5 class="bold top-space">2. Acceptance of Terms</h5>
</p>
  ervice is offered subject to acceptance of all terms and conditions contained in these Terms of Use,
  and all other operating rules, policies, and procedures that may be published on the Site by the Company,
  which may be updated by the Company at any time. In addition, some services offered through the
  Service may be subject to additional terms and conditions adopted by the Company. Your use of those
  services is subject to those additional terms and conditions, which may be incorporated into these Terms
  of Use by this reference.</p>
<p>
  The Service is available only to individuals who are at least 18 years old or of majority of age according to
  their applicable jurisdiction. You represent and warrant that if you are an individual, you are of majority of
  age and with legal age and capacity to enter a binding contract, and that all registration information you
  submit is accurate and truthful. The Company may, in its sole discretion, refuse to offer the Service to any
  person or entity and change its eligibility criteria at any time.</p>

<p>  Individuals who are under age must be assisted by a parent or tutor.</p>

<h5 class="bold top-space">
  3. Modification of Terms of Use </h5>
<p>
  The Company reserves the right, at its sole discretion, to modify or replace these Terms of Use, or change, suspend, or discontinue the Service (including, but not limited to, the availability of any feature, database, or Content) at any time for any reason. The Company may also impose limits on certain features and services or restrict your access to parts or all of the Service without notice or liability. It is your responsibility to check the Terms of Use periodically for changes. Your continued use of the Service following the posting of any changes to the Terms of Use constitutes acceptance of those changes.</p>
<h5 class="bold top-space">
  4. Rules and Conduct</h5>
<p>As a condition of use, you promise not to use the Service for any purpose that is prohibited by the Terms of Use or by any applicable law. The Service is provided only for your own personal, non-commercial use (except as allowed by the terms set forth in the section of these Terms of Use titled, “Fundraising Campaign"). You are responsible for all of your activity in connection with the Service. You shall not, and shall not permit any third party using your account, to take any action, or Submit Content, that:</p>
<ul>
  <li>infringes any patent, trademark, trade secret, copyright, right of publicity, or other right of any other person or entity, or violates any law or contract;</li>
  <li>you know is false, misleading, or inaccurate;</li>
  <li>is unlawful, threatening, abusive, harassing, defamatory, libelous, deceptive, fraudulent, tortious, obscene, offensive, profane, or invasive of another's privacy;</li>
  <li>constitutes unsolicited or unauthorized advertising or promotional material or any junk mail, spam, or chain letters;</li>
  <li>contains software viruses or any other computer codes, files, or programs that are designed or intended to disrupt, damage, limit, or interfere with the proper function of any software, hardware, or telecommunications equipment or to damage or obtain unauthorized access to any system, data, password, or other information of the Company or any third party; or
    impersonates any person or entity, including any employee or representative of the Company.</li>
</ul>
<p>Additionally, you shall not: (i) take any action that imposes or may impose (as determined by the Company in its sole discretion) an unreasonable or disproportionately large load on the Company’s or its third-party providers’ infrastructure; (ii) interfere or attempt to interfere with the proper working of the Service or any activities conducted on the Service; (iii) bypass any measures the Company may use to prevent or restrict access to the Service (or other accounts, computer systems, or networks connected to the Service); (iv) run any form of auto-responder or "spam" on the Service; or (v) use manual or automated software, devices, or other processes to "crawl", "spider" or in any other manner interfere with the use, management and operation of any page of the Site.</p>
<p>You shall not directly or indirectly: (i) decipher, decompile, disassemble, reverse engineer, or otherwise attempt to derive any source code or underlying ideas or algorithms of any part of the Service, except to the limited extent applicable laws specifically prohibit such restriction; (ii) modify, translate, or otherwise create derivative works of any part of the Service; or (iii) copy, rent, lease, distribute, or otherwise transfer any of the rights that you receive hereunder. You shall abide by all applicable local, state, national, and international laws and regulations.</p>
<p>The Company does not guarantee that any Content will be made available through the Service. The Company has no obligation to monitor the Service or Content. The Company reserves the right to, at any time, for any reason, and without notice: (i) cancel, reject, interrupt, remove, or suspend a campaign or project; (ii) remove, edit, or modify any Content, including, but not limited to, any User Submission; and (ii) remove or block any User or User Submission. Add Up reserves the right not to comment on the reasons for any of these actions.Registration</p>
<p>You may view Content on the Site without registering. However, as a condition of applying or using certain aspects of the Service, Students, Sponsors, and other third parties may be required to register with the Company. In order for the Company to provide the Services, it may require your personal and academic information and background, financial information, method of payment, and any other information that the Company may deem necessary, which shall be true and accurate. The Company may also require you to select a screen name ("User ID") and password. It is your responsibility to keep your User ID and password safe from third parties. You may only have one User ID at a time. </p>
<p>The registration may not be used for the following, without limitation: (i) Use Add Up to promote other products or services, except those directly involved with the Project; (ii) Use the User ID in fraudulent or illegal manner, or send material that is offensive, harmful in any way, illegal, abusive, defamatory, threatening, racist, vulgar, immoral, obscene, or otherwise objectionable, at the discretion of the Company; (iii) Use registration to pursue or annoy other users or third parties; (iv) Infringe rights of intellectual and industrial property of the Company or any other person; (v) Use the registration to send strings, spam, or any other type of marketing email; (vi) Use the registration to send viruses or otherwise send electronic files harmful or destructive; (vii) Attack electronically or cybernetically (hacking) the Add Up platform; (viii) Intentionally use services to degrade or interfere with the proper provision of the Services; (ix) Modify, reproduce, create derivatives, copy, distribute, or dispose of the contents of the Add Up platform; (x) Take actions that impose a disproportionate burden to the Internet platform weight and cause an interruption or degradation to the system or the services; (xi) Cancel the project without valid justification, at the Company’s discretion. </p>
<p>You shall provide accurate, complete, and updated registration information. Failure to do so or to comply with this clause or any other obligation expressed in this Agreement shall constitute a breach of the Terms of Use, which may result in immediate termination of your account. You shall not use as a User ID, domain name, or project name any name or term that (i) is the name of another person, with the intent to impersonate that person; (ii) is subject to any rights of another person, without appropriate authorization; or (iii) is otherwise offensive, vulgar, or obscene. The Company reserves the right in its sole discretion to refuse registration of or cancel a User ID, domain name, and project name. You are solely responsible for activity that occurs on your account and shall be responsible for maintaining the confidentiality of your password for the Site. You shall never use another User account without the other User’s express permission. You will immediately notify the Company in writing of any unauthorized use of your account, or other known account-related security breach.</p>
<h5 class="bold top-space">
  5. Fundraising Campaign </h5>
<p>Students, through the Add Up platform, may run campaigns to fund their school tuition by committing to positive-impact community projects (“Community Projects”) that will motivate Sponsors for such funding. Students shall be required to disclose in detail the Community Project they will be involved with. The Company, at its sole discretion, may require the Student to modify the Community Project to comply with Company’s standards. </p>
<p>By backing or creating a fundraising campaign, you agree to be bound by this entire Agreement, including the following terms:</p>
<ul><li>Sponsors agree to provide their payment information at the time they pledge to a fundraising campaign. The payment will be collected through PayPal, wire transfer or direct deposit to the bank account No.___________________ at the times specified by the campaign. The amount Sponsors pledge is the amount they will be charged. </li>
      <li>Sponsors consent to Add Up and its payments partners authorizing or reserving a charge on their payment card or other payment method for any amount up to the full pledge at any time between the pledge and collection of the funds.</li>
      <li>Sponsors agree to have sufficient funds or credit available at the campaign deadline to ensure that the pledge will be collectible.</li>
      <li>Sponsors may not decrease or cancel their pledge once their payment has been collected. </li>
      <li>Sponsors may contribute to an individual sStudent more than once. .</li>

  <li>Students agree, through the execution of the Add Up Student Honor Code (link to Honor Code), to fulfill their Community Project commitments during the course of the school year they are raising funds for.</li>
  <li>Students consent to post updates and pictures of their educational endeavors and Community Projects throughout the year, to keep Sponsors informed of their advances regarding their social service commitments.</li>
  <li>Students also commit, by the execution of the Add Up Student Honor Code (link to Honor Code), to contribute 40% or more of the money raised through Add Up forward to other students seeking funding through Add Up within 5 years of graduating from the program for which they received funding.</li>
  <li>Add Up will send Students reminders to post updates of their Community Projects and of their commitment to give back to other students through Add Up. However, it is the sole responsibility of the Student to fulfill and comply with their commitments. Add Up will not be liable for unfulfilled commitments. Add Up reserves the right to refuse a Student’s request to start a second fundraising campaign if during their first campaign they failed to maintain their Sponsors updated about the advances of their educational endeavors and their Community Projects.</li>
  <li>Students agree that Add Up may publish on the Site the names of those who have fulfilled their commitment of paying 40% of the money raised through Add Up forward to other students seeking funding. </li>
  <li>For all campaigns, Add Up gives to the Student each Sponsor’s User ID and pledge amount. </li>
  <li>Students may cancel their profile only if (i) they have not received any pledges from Sponsors, and if they do so, Students are not required to fulfill the commitment agreed to through the Student Honor Code, (ii) they have completed their campaigns and Community Projects, or (iii) or (iii) an event of force majeure or act of God.</li>
  <li>Add Up does not offer refunds for the fees related to the Services. . </li>
  <li>A Student may not grant a Sponsor’s request for a refund. </li>
  <li>Because of occasional failures of payments from Sponsors, Add Up cannot guarantee the full receipt of the amount pledged minus fees.</li>
  <li>Add Up and its payments partners will remove their fees before transmitting proceeds of a campaign to the Student’s educational institution. y Fees may vary depending on region and other factors.</li>
  <li>Add Up reserves the right to cancel a pledge at any time and for any reason.</li>
  <li>Add Up reserves the right to reject, cancel, interrupt, remove, or suspend a campaign at any time and for any reason. Add Up is not liable for any damages as a result of any of those actions. Add Up’s policy is not to comment on the reasons for any of those actions. Add Up is not obligated to refund any fees.  </li>
  <li>Students are limited to carrying out one campaign per school year. </li>
</ul>

<p>Add Up is not liable for any damages or loss incurred related to campaigns or Community Projects or any other use of the Service. All activities (funding and Community Projects, or any other that may apply) are solely carried out between and the sole responsibility and liability of Users. Add Up is under no obligation to become involved in disputes between any Users, or between Users and any third party. This includes, but is not limited to, delivery of payments, endeavors, campaigns, projects, and any other terms, conditions, warranties, or representations associated with campaigns on the Site. ADD UP DOES NOT OVERSEE ANY OF THE PERFORMANCE OR PUNCTUALITY OF THE COMPLIANCE WITH THE STUDENTS AND SPONSORS RESPONSIBILITIES THEY COMMIT TO, THE COMPANY DOES NOT ENDORSE ANY USER SUBMISSIONS. YOU RELEASE ADD UP, ITS OFFICERS, EMPLOYEES, AGENTS, AND SUCCESSORS IN RIGHTS FROM CLAIMS, DAMAGES, AND DEMANDS OF EVERY KIND, KNOWN OR UNKNOWN, SUSPECTED OR UNSUSPECTED, DISCLOSED OR UNDISCLOSED, ARISING OUT OF OR IN ANY WAY RELATED TO SUCH DISPUTES AND THE SERVICE. IT IS THE SOLE RESPONSIBILITY OF EACH STUDENT AND SPONSOR TO EXECUTE THEIR COMMITMENTS PROMPTLY AND TIMELY, PROPERLY.  </p>
<h5 class="bold top-space">
  6. Fees and Payments </h5>
<p>Establishing a Student profile on Add Up will be subject to an upfront fee of USD $25 (twenty five 00/100 USD) . Also, the Company will charge for the Service a 3.5% fee of the total amount collected from the Sponsors. The Company, at its sole discretion, may increase or decrease its service fee without notice. </p>
<p>Funds pledged by Sponsors and fees are collected by Pay Pal, who may also charge a transaction fee of its own for using its services. After the corresponding fees have been deducted from the funds pledged, Add Up will transfer the funds to the corresponding higher education institution. Add Up is not responsible for the performance of Pay Pal. For your information, please note that Pay Pal accepts the following cards: Visa, Mater Card, American Express, Discover and eCheck. </p>
<p>(Checar bien la política de pagos de Paypal porque ahí se le descuenta al que recibe el dinero, en este caso la Universidad. Nada más que chequen bien el porcentaje extra que cobra Paypal para que el depositante pueda calcular el monto que quiere depositar y no llegue descontado a la universidad). </p>
<h5 class="bold top-space">
  7. Third-Party Sites </h5>
<p>The Service may permit you to link to other websites or resources on the internet, and other websites or resources may contain links to the Site. When you access third-party websites, you do so at your own risk. Those other websites are not under the Company's control, and you acknowledge that the Company is not liable for the content, functions, accuracy, legality, appropriateness, or any other aspect of those other websites or resources. The inclusion on another website of any link to the Site does not imply endorsement by or affiliation with the Company. You further acknowledge and agree that the Company shall not be liable for any damage related to the use of any content, goods, or services available through any third-party website or resource.</p>
<h5 class="bold top-space">
  8. Content and License </h5>
<p>You agree that the Service contains Content provided by the Company and its partners and Users and that the Content may be protected by copyrights, trademarks, service marks, patents, trade secrets, or other rights and laws. You shall abide by and maintain all copyright and other legal notices, information, and restrictions contained in any Content accessed through the Service.</p>
<p>The Company grants to each User of the Service a worldwide, temporary, non-exclusive, non-sublicensable and non-transferable license to use and reproduce the Content, solely for personal, non-commercial use. Use, reproduction, modification, distribution, or storage of any Content for other than personal, non-commercial use is prohibited without prior written permission from the Company, or from the copyright holder. You shall not transfer, sell, license, rent, or otherwise use or exploit any Content for commercial use or in any way that violates any third-party right.</p>
<h5 class="bold top-space">
  9. Intellectual Property of Users</h5>
<p>By Submitting User submissions on the Site or otherwise through the Service, you agree to the following terms:</p>
<ul>
  <li>The Company will not have any ownership rights over your User submissions. However, the Company needs the following license to perform and market the Service on your behalf and on behalf of its other Users and itself. You grant to the Company the worldwide, non-exclusive, perpetual, irrevocable, royalty-free, sublicensable, transferable right to (and to allow others acting on its behalf to) (i) use, edit, modify, prepare derivative works of, reproduce, host, display, stream, transmit, playback, transcode, copy, feature, market, sell, distribute, and otherwise fully exploit your User submissions and your trademarks, service marks, slogans, logos, and similar proprietary rights (collectively, the "Trademarks") in connection with (a) the Service, (b) the Company’s (and its successors' and assigns’) businesses, (c) promoting, marketing, and redistributing part or all of the Site (and derivative works thereof) or the Service in any media formats and through any media channels (including, without limitation, third-party websites); (ii) take whatever other action is required to perform and market the Service; (iii) allow its Users to stream, transmit, playback, download, display, feature, distribute, collect, and otherwise use the User submissions and Trademarks in connection with the Service; and (iv) use and publish, and permit others to use and publish, the User submissions, Trademarks, names, likenesses, and personal and biographical materials of you and the members of your group, in connection with the provision or marketing of the Service. The foregoing license grant to the Company does not affect your other ownership or license rights in your User submissions, including the right to grant additional licenses to your User submissions.
  </li>
  <li>You are publishing your User submission, and you may be identified publicly by your User ID and location in association with your User submission.</li>
  <li>You grant to each User a non-exclusive license to access your User submissions through the Service, and to use, edit, modify, reproduce, distribute, prepare derivative works of, display and perform such User submissions solely for personal, non-commercial use.</li>
  <li>You further agree that your User submissions will not contain third-party copyrighted material, or material that is subject to other third-party proprietary rights, unless you have permission from the rightful owner of the material or you are otherwise legally entitled to post the material and to grant Add Up all of the license rights granted herein.  You agree to immediately remove any such copyrighted material upon notice or knowledge of such use.</li>
  <li>You will pay all royalties and other amounts owed to any person or entity based on your submitting to the Service or the Company’s publishing or hosting of the User submissions as contemplated by these Terms of Use.</li>
  <li>The use or other exploitation of User submissions by the Company and Users as contemplated by this Agreement will not infringe or violate the rights of any third party, including without limitation any privacy rights, publicity rights, copyrights, contract rights, or any other intellectual property or proprietary rights.</li>
  <li>The Company shall have the right to at any time delete, edit, modify, reformat, excerpt, or translate any of your User Submissions.</li>
  <li>All information publicly posted or privately transmitted through the Site is the sole responsibility of the person from which that content originated.</li>
  <li>The Company will not be liable for any errors or omissions in any Content.</li>
  <li>The Company will make its best effort to verify the veracity of the information provided by the Students and Sponsors. However, the Company will not be liable and Students and Sponsor hold the Company harmless for any damages caused by the information provided by Users.</li>
  <li>The Company cannot guarantee the identity of any other Users with whom you may interact while using the Service. </li>
  <li>All Content you access through the Service is at your own risk and you will be solely responsible for any resulting damage or loss to any party.</li>
</ul>
<p>Add Up has adopted a policy of, in appropriate circumstances, terminating User accounts that are infringers of the intellectual property rights of others. Add Up also may terminate User accounts even based on a single infringement.</p>
<h5 class="bold top-space">
  10. Copyright Notifications</h5 >
  <p>Add Up will remove infringing materials if Content infringes copyright. If you believe that your work has been copied in a way that constitutes copyright infringement, please notify Add Up in writing immediately. Your notice must contain the following information:</p>
  <ul>
    <li>an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest;</li>
    <li>a description of the copyrighted work that you claim has been infringed;</li>
    <li>a description of where the material that you claim is infringing is located on the Site, sufficient for Add Up to locate the material;</li>
    <li>your address, telephone number, and email address;</li>
    <li>a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and a statement by you that the information in your notice is accurate and, under penalty of perjury, that you are the copyright owner or authorized to act on the copyright owner's behalf.</li>

    <p>If you believe that your work has been removed or disabled by mistake or misidentification, please notify Add Up in writing immediately. Your counter-notice must contain the following information:</p>
  </ul><li>a physical or electronic signature of the user of the Services;</li>
  <li>identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled;</li>
  <li>a statement made under penalty of perjury that the subscriber has a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material; and the subscriber's name, address, telephone number, and a statement that the subscriber consents to the jurisdiction of the local courts of San Antonio, Texas, or if the subscriber's address is outside of the United States, for any judicial district in which the service provider may be found, and that the user will accept service of process from the person who provided notification or an agent of such person.</li>
</ul>
<p>Any person who knowingly materially misrepresents that material is infringing or was removed or disabled by mistake or misidentification may be subject to liability.</p>
<p>If you fail to comply with these notice requirements, your notification or counter-notification may not be valid.</p>
<p>Our designated copyright agent for notice of alleged copyright infringement is:</p>
<p>Crowd Scholarship, LLC. </p>
Attn: [       ]
[  Address ] 
Email: info@addup.org 
<h5 class="bold top-space">
  11. Termination</h5>
<p>The Company may terminate your access to the Service, without cause or notice, which may result in the forfeiture and destruction of all information associated with your account. If you wish to terminate your account, you may do so by sending an e-mail to cancellations@addup.org. Any fees paid to the Company are non-refundable. Regardless of the termination of the Service, provisions of the Terms of Use that should survive termination by their nature shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>
<h5 class="bold top-space">
  12. Warranty Disclaimer</h5>
<p>The Company has no special relationship with or fiduciary duty to you. You acknowledge and agree that the Company agrees to take any action regarding the following: which Users gain access to the Site; what Content Users access through the Site; what effects the Content may have on Users; how Users may interpret or use the Content; or what actions Users may take as a result of having been exposed to the Content. The Company cannot guarantee the authenticity of any data or information that Users provide about themselves or their campaigns and projects, despite its verification efforts. You release the Company from all liability for your having acquired or not acquired Content through the Site. The Site may contain, or direct you to websites containing, information that some people may find offensive or inappropriate. The Company makes no representations concerning any Content on the Site, and the Company is not liable for the accuracy, copyright compliance, legality, or decency of material contained on the Service.</p>
<p>THE SERVICE IS PROVIDED "AS IS" AND "AS AVAILABLE" AND IS WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY, AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED. THE COMPANY, AND ITS DIRECTORS, EMPLOYEES, AGENTS, SUPPLIERS, PARTNERS, AND CONTENT PROVIDERS DO NOT WARRANT THAT: (A) THE SERVICE WILL BE SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (B) ANY DEFECTS OR ERRORS WILL BE CORRECTED; (C) ANY CONTENT OR SOFTWARE AVAILABLE AT OR THROUGH THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; OR (D) THE RESULTS OF USING THE SERVICE WILL MEET YOUR REQUIREMENTS. YOUR USE OF THE SERVICE IS SOLELY AT YOUR OWN RISK. SOME STATES OR COUNTRIES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>
<p>THE COMPANY MAKES NO GUARANTY OF CONFIDENTIALITY OR PRIVACY OF ANY COMMUNICATION OR INFORMATION TRANSMITTED ON THE SITE OR ANY WEBSITE LINKED TO THE SITE. The Company will not be liable for the privacy of email addresses, registration and identification information, disk space, communications, confidential or trade-secret information, or any other Content stored on the Company’s equipment, transmitted over networks accessed by the Site, or otherwise connected with your use of the Service, except as provided in the Privacy Policy. </p>
<h5 class="bold top-space">
  13. Indemnification </h5>
<p>You shall defend, indemnify, and hold harmless the Company, its affiliates, and each of its and its affiliates’ employees, contractors, directors, suppliers, and representatives from all liabilities, claims, and expenses, including reasonable attorneys' fees, that arise from or relate to your use or misuse of, or access to, the Service and Content, or otherwise from your User submissions, violation of the Terms of Use, or infringement by you, or any third party using your account, of any intellectual property or other right of any person or entity. The Company reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will assist and cooperate with the Company in asserting any available defenses.</p>
<h5 class="bold top-space">
  14. Limitation of Liability</h5>
<p>IN NO EVENT SHALL THE COMPANY, NOR ITS DIRECTORS, EMPLOYEES, AGENTS, PARTNERS, SUPPLIERS, OR CONTENT PROVIDERS, BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE, OR ANY OTHER LEGAL OR EQUITABLE THEORY WITH RESPECT TO THE SERVICE (I) FOR ANY LOST PROFITS, DATA LOSS, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER, SUBSTITUTE GOODS OR SERVICES (HOWEVER ARISING), (II) FOR ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE (REGARDLESS OF THE SOURCE OF ORIGINATION), OR (III) FOR ANY DIRECT DAMAGES IN EXCESS OF (IN THE AGGREGATE) ONE HUNDRED U.S. DOLLARS ($100.00). SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU. </p>
<h5 class="bold top-space">
  15. International</h5>
<p>Accessing the Service is prohibited from territories where the Content is illegal. If you access the Service from other locations, you do so at your own initiative and are responsible for compliance with local laws.</p>
<h5 class="bold top-space">
  16. Electronic Delivery, Notice Policy, and Your Consent</h5>
<p>By using the Services you consent to receive from Add Up all communications including notices, agreements, legally required disclosures, or other information in connection with the Services (collectively, "Contract Notices") electronically. Add Up may provide the electronic Contract Notices by posting them on the Site. If you desire to withdraw your consent to receive Contract Notices electronically, you must discontinue your use of the Services.</p>
<h5 class="bold top-space">
  17. Governing Law</h5>
<p>These Terms of Service (and any further rules, policies, or guidelines incorporated by reference) shall be governed by and construed in accordance with the laws of the State of Texas and the United States. You agree that the Company and its Services are deemed a passive website that does not give rise to personal jurisdiction over Add Up or its parents, subsidiaries, affiliates, successors, assigns, employees, agents, directors, officers or shareholders, either specific or general, in any jurisdiction other than the State of Texas. You agree that any action at law or in equity arising out of or relating to these terms, or your use or non-use of the Services, shall be filed only in the state courts located in Bexar County in the State of Texas and you hereby consent and submit to the personal jurisdiction of such courts for the purposes of litigating any such action. You hereby irrevocably waive any right you may have to trial by jury in any dispute, action, or proceeding.</p>
<h5 class="bold top-space">
  18. Integration and Severability</h5>
<p>These Terms of Use and other referenced material are the entire agreement between you and the Company with respect to the Service, and supersede all prior or contemporaneous communications and proposals (whether oral, written or electronic) between you and the Company with respect to the Service and govern the future relationship. If any provision of the Terms of Use is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that the Terms of Use will otherwise remain in full force and effect and enforceable. The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder.</p>
<h5 class="bold top-space">
  19. Miscellaneous </h5>
<p>The Company shall not be liable for any failure to perform its obligations hereunder where the failure results from any cause beyond the Company’s reasonable control, including, without limitation, mechanical, electronic, or communications failure or degradation. The Terms of Use are personal to you, and are not assignable, transferable, or sublicensable by you except with the Company's prior written consent. The Company may assign, transfer, or delegate any of its rights and obligations hereunder without consent. No agency, partnership, joint venture, or employment relationship is created as a result of the Terms of Use and neither party has any authority of any kind to bind the other in any respect. In any action or proceeding to enforce rights under the Terms of Use, the prevailing party will be entitled to recover costs and attorneys' fees. All notices under the Terms of Use will be in writing and will be deemed to have been duly given when received, if personally delivered or sent by certified or registered mail, return receipt requested; when receipt is electronically confirmed, if transmitted by facsimile or e-mail; or the day after it is sent, if sent for next day delivery by recognized overnight delivery service.</p>





</div>

