<!DOCTYPE html>
<html lang="en">
	
	<head>
		<link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/assets/addup.css">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<!--To make html5 compatible with old browsers-->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<title>Add Up - Crowdscholarships that carry on</title>
		<meta name="description" content="Add Up is a crowdscholarships platform for students to raise funds for their graduate studies in USA top universities." />
		<meta name="author" content="Add Up - Crowdscholarships LLC" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<!-- Javascript load -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
		<script type="text/javascript" src="assets/addup.js"></script>
	</head>
	<body>
		<div class="header">
        	<div class="center">
        		<ul>
        			<li class="li0"><a href="index.html"><img src="assets/logo-head.png" class="logo-head" alt="ADD UP" /></a></li>
        			<li class="li1"><a href="how.html">How it Works</a></li>
        			<li class="li2"><a href="about.html">About</a></li>
        			<li class="li3"> </li>
        			<li class="li4"><a href="contact.html">Contact</a></li>            			
        		</ul>       		
        	</div>
        </div>

		<div class="center">

			<div class="student-stats">
				<h3 class="bold top-space">Cynthia White <span class="icon checkmark"> </span></h3>
				<div class="bubble approved normal">
				</div>
				<h5>MBA Candidate (2nd year out of 4 year program)</h5>
				<h5>Georgetown University</h5>
				<h5>USA, Houston</h5>
			</div>

			<div class="full-page">
				<h2 class="info-color bold top-space">Congratulations!</h2>
				<p class="super two-thirds">
					You are now an official AddUpper of Cynthia White. Multiply the impact of your donation by sharing her story!
				</p>
				<a href="https://twitter.com/share?url=http%3A%2F%2Faddup.org%2Fstudent" class="button info-bg-color tweet share">tweet</a>
				<a href="http://www.facebook.com/share.php?u=http://www.addup.org/student" class="button facebook share">f <span>Share</span></a>
				<a href="mailto:info@addup.org?subject=Cynthia%20White&body=check%20this%20%0Ahttp://www.addup.org" class="button e-mail share"><span class="email-icon"></span> <span>e-mail</span></a>				
			
				<h3>BANK TRANSFER INFORMATION</h3>
				<h5>Account No. 128178580 </h5>
				<h5>ABA/Routing: 111000614</h5>
				<h5>Swift: chasus33</h5>



				<h5 class="recommended bold">Other Recommended Students</h5>
			</div>

			<div class="recomendations">
				<div class="window">
					<ul>
						<li>
							<a href="student.html">
							<img class="student" src="assets/team/member4.jpg" alt="" />
							<div class="recomended-stats">
								<h6 class="bold"> Boris Wayne</h6>
								<h6>INDIA, Mombay</h6>
								<h6>Georgetown University</h6>
							</div>
							<span class="corner-check"> </span>
							<div class="bubble approved normal">
							</div>
							<p class="blurred" >
								I will Add Up by
							</p>
							<p class="info-color desc">
								teaching Tai Chi to people in my neighborhood
							</p>
							<div class="progress">
								<span class="achieved"> </span>
							</div>
							<p class="goals">
								<span class="highlight bold">40%</span>of Goal
							</p>
							<p class="goals">
								<span class="highlight bold">$400</span>Added Up
							</p>
							<p class="goals">
								<span class="highlight bold">14</span>days left
							</p>
							<span class="supporting">Supporting...</span>
							<img class="sponsor" src="assets/orgs/wikipedia.png" alt="wikipedia" />
							</a>
						</li>
						<li>
							<a href="student.html">
							<img class="student" src="assets/team/member4.jpg" alt="" />
							<div class="recomended-stats">
								<h6 class="bold"> Boris Wayne</h6>
								<h6>INDIA, Mombay</h6>
								<h6>Georgetown University</h6>
							</div>
							<span class="corner-check"> </span>
							<div class="bubble approved normal">
							</div>
							<p class="blurred" >
								I will Add Up by
							</p>
							<p class="info-color desc">
								teaching Tai Chi to people in my neighborhood
							</p>
							<div class="progress">
								<span class="achieved"> </span>
							</div>
							<p class="goals">
								<span class="highlight bold">40%</span>of Goal
							</p>
							<p class="goals">
								<span class="highlight bold">$400</span>Added Up
							</p>
							<p class="goals">
								<span class="highlight bold">14</span>days left
							</p>
							<span class="supporting">Supporting...</span>
							<img class="sponsor" src="assets/orgs/wikipedia.png" alt="wikipedia" />
							</a>
						</li>
						<li><a href="student.html">
							<img class="student" src="assets/team/member4.jpg" alt="" />
							<div class="recomended-stats">
								<h6 class="bold"> Boris Wayne</h6>
								<h6>INDIA, Mombay</h6>
								<h6>Georgetown University</h6>
							</div>
							<span class="corner-check"> </span>
							<div class="bubble approved normal">
							</div>
							<p class="blurred" >
								I will Add Up by
							</p>
							<p class="info-color desc">
								teaching Tai Chi to people in my neighborhood
							</p>
							<div class="progress">
								<span class="achieved"> </span>
							</div>
							<p class="goals">
								<span class="highlight bold">40%</span>of Goal
							</p>
							<p class="goals">
								<span class="highlight bold">$400</span>Added Up
							</p>
							<p class="goals">
								<span class="highlight bold">14</span>days left
							</p>
							<span class="supporting">Supporting...</span>
							<img class="sponsor" src="assets/orgs/wikipedia.png" alt="wikipedia" />
						</a>
						</li>
	
					</ul>
				</div>
			</div>

		</div>

		<div class="footer">
			<div class="center">
				<ul>
					<li>
						<a href="contact.html">Contact</a>
					</li>
					<li>
						<a href="about.html">About</a>
					</li>
					<li>
						<a href="terms.html">Terms of Use</a>
					</li>
					<li>
						<a href="privacy.html">Privacy Policy</a>
					</li>
					<li>
						<a href="companies.html">Matching funds for Companies</a>
					</li>
				</ul>
				<ul>
					<li>
						Add Up media:
					</li>
					<li>
						<a href="http://www.facebook.com/Addup">Facebook</a>
					</li>
					<li>
						<a href="http://www.twitter.com/addup">Twitter</a>
					</li>
				</ul>
				<p class="copyright">
					2012 CrowdScholarship LLC All rights reserved
				</p>
			</div>
		</div>
		<!-- begin olark code --><script data-cfasync="false" type='text/javascript'>/*{literal}<![CDATA[*/
window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){f[z]=function(){(a.s=a.s||[]).push(arguments)};var a=f[z]._={},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={0:+new Date};a.P=function(u){a.p[u]=new Date-a.p[0]};function s(){a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{b.contentWindow[g].open()}catch(w){c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{var t=b.contentWindow[g];t.write(p());t.close()}catch(x){b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('9102-424-10-1941');/*]]>{/literal}*/</script><noscript><a href="https://www.olark.com/site/9102-424-10-1941/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript><!-- end olark code -->
	</body>
</html>
