/********
 * FONTS
 *******/




/*
 * RESET
 *******/
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0; padding:0;font-weight:normal;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th {font-size:1em; font-weight:normal; font-style:normal;}
ul,ol {list-style:none;}
fieldset,img,hr {border:none;}
caption,th {text-align:left;}
table {border-collapse:collapse; border-spacing:0;}
td {vertical-align:top;}

/*
 * GENERAL
 *********/
body{font-family: 'Istok Web', sans-serif;
	font-size:100%;
color: #41474C;}
h1{font-size: 48px;font-family: inherit}
h2{font-size: 36px;font-family: inherit}
h3{font-size: 24px;font-family: inherit;clear: left;}
h4{font-size: 21px;font-family: inherit}
h5{font-size: 18px;font-family: inherit;clear: both;}
h6{font-size: 14px;font-family: inherit}
.top-space{margin-top: 20px;}
p{font-size: 14px;font-family: inherit;margin-top: 7px;}
.bold{font-weight:bold;}
.header{
    color: #C0262C;
    width: 100%;
    height: 94px;
}
.header a{
    color: #C0262C;
    font-size: 14px;
    text-decoration: none;
}
a:hover{text-decoration:underline}
.header ul{
    width: 960px;
    border: none;
    position: absolute;
    left: 0px;
    top: 17px;
}
.header li{
    width: 187px;
    padding-left: 0;
}
div.header div.center{
    background: url('header.png') no-repeat left center;
    position: relative;
}
.logo-head{
    width: 130px;
    display: inline;
    float: left;
}
.center{
    width: 960px;
    margin: 0 auto;
    height: 100%;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    margin: 0;
    padding: 0;
}
.li1{}
.li2{}
.li3{}
.li4{
    text-align: right;
}

.footer{
    margin-top: 50px;
    background-color: #41474C;
    font-size: 14px;
    height: 114px;
    padding-top: 10px;
    display: block;
    width: 100%;
    float: left;
}
.footer .center{color:#CCCCCC}
.footer ul{
    padding-top: 11px;
}
.footer li{
    padding-right: 20px;
}
.footer a{color: #FFFFFF;text-decoration: none;}
.footer a:hover, .footer a:visited{color: #3AA0BB}
.footer a:hover{text-decoration:underline}
.footer p{
}
.copyright{font-size: 12px;margin-top: 20px;}


.info-color{color: #3AA0BB}
.info-bg-color{background-color:#3AA0BB}
.info-bg-color:hover{background-color: #3C98B1;}
.two-thirds{
    width: 705px;
    float: left;
}
.two-thirds p{
    margin-right: 11px;
}
form{
    padding-top: 20px;
    margin-bottom: 40px;
    display: block;
    clear: both;
}
label{
    display: block;
    font-size: 14px;
    margin-top: 15px;
}
form input[type="text"], form input[type="password"], form select, form textarea{
    border-radius: 3px;
    border: #B3B3B3 solid 1px;
    display: block;
    margin-top: 3px;
    padding-left: 6px;
}
input[type="text"] {
    width: 280px;
    height: 28px;
}
input[type="text"].contact {}
textarea{
    width: 280px;
    height: 90px;
    margin-bottom: 15px;
}
textarea.contact{}
input[type="submit"] {}
.button{padding: 10px 18px; color:white; border:none;font-weight: normal;font-size: 18px;border-radius: 7px;cursor: pointer;}
.zero{
    margin: 0;
}
.three-fifths{
    width: 580px;
    float: left;
}
.team{
    display: block;
    clear: both;
}
.team h5{}
.member{
    float: left;
    margin: 10px 40px 10px 0;
}
.member img{}
.member h5{
    margin: 0 auto 20px auto;
    text-align: center;
}
.sidebar{
    float: left;

    width: 230px;
    height: auto;
    border: none;
    margin: 26px auto auto 23px;
}
.dark-bg{background-color: #41474C;}
.sidebar .frame{}
.frame{
    margin: 14px;
}
.light-bg{background-color: #E6E6E6;}
.money{
    font-size: 48px;
    font-weight: bold;
    color: #3AA0BB;
    display: block;
    margin: 0px 12px -13px;
    padding-top: 2px;
}
.label-stats{
    margin-left: 16px;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 7px;
    display: block;
}


.student-stats{
    position: relative;
}
.student-stats h3{}
.student-stats span{
}
.verified {}
.student-stats h5{
}
ol{}
form ol{}
.choose-rewards {}
ol li{}
ol.choose-rewards li{
}
.choose-rewards h5{}
.choose-rewards h6{

}
.money-input{
    border-radius: 7px;
    position: relative;
    height: 92px;
    margin-top: 10px;
}
.currency{
    position: absolute;
    font-size: 48px;
    left: 24px;
    font-weight: bold;
    top: 14px;
}
.super-input{
}
form input[type='text'].super-input{
    height: auto;

    font-size: 48px;
    line-height: 1em;
    border-radius: 5px;
    width: 220px;
    display: inline;
    margin: 15px 20px;
    padding-left: 34px;
}
.tiny-tip{
     color: white;


     vertical-align: middle;

     display: inline-block;
     margin-top: -25px;
}
.rewards{
    border-radius: 7px;
    box-shadow: 0 0 10px #666;
    margin-top: 20px;
}
.reward{
    height: auto;
    border-bottom: #B3B3B3 solid 1px;
    width: 100%;
    margin: 0 auto;
}
.reward:hover{background-color: #E6E6E6}
.reward input{
    display: inline-block;
    vertical-align: top;
    margin: 20px 2px auto 20px;
}
.reward label{
    display: inline-block;
    margin: 18px 13px auto 0;
    width: 93px;
    vertical-align: top;
}
.reward strong{
}
li.reward:first-of-type{
    border-radius: 5px 5px 0 0;
}
li.reward:last-of-type{border:none;border-radius: 0 0 5px 5px;}
.no-reward{}
.no_thx{}
input[type="radio"] {}
.description{
    margin-top: 18px;
    display: inline-block;
    width: 420px;
    margin-bottom: 18px;
    font-size: 18px;
}
.action{background-color: #EC1D78}
.action:hover{background-color: #E2217E;}
.action-text{color: #EC1D78}
.checkout_actions_wrap{
    margin-top: 18px;
}
.checkout_actions{}
.checkout_actions img{
    display: inline-block;
}
.checkout_actions input[type="submit"]{
    display: inline-block;
    vertical-align: top;
    float: right;
    padding-top: 15px;
    padding-bottom: 15px;
}
.checkout_faqs{
    margin-top: 180px;
}
.shadow{
    box-shadow: 0 2px 1px #333;
}
.shadow:active{box-shadow:none}
.faqs{}
h6.faqs{
    color: #999999;
}
ul.faqs{}
li.faq{}
.faq-question{}
.faq-question a{cursor:pointer}
.faq-question a:hover{text-decoration:none}
.icon-expand{
    width: 13px;
    height: 10px;
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
}
.arrow-hidden{background: url('sprite.png') 0 -39px;}
.arrow-shown{background: url('sprite.png') 0 -24px;}
.question{
    font-size: 13px;
    font-weight: bold;
    margin-left: 0px;
    width: 205px;
    display: inline-block;
    margin-top: 3px;
}
.faq-answer{
    color: #666666;
    font-size: 12px;
    padding-left: 19px;
    display: inline-block;
    width: 206px;
    margin-left: 0;
    margin-bottom: 5px;
}
.hide{display:none}
p.super{font-size:18px;float: none;margin-bottom: 10px;}

.social-share{
    width: 527px;
    height: 40px;
    display: block;
    margin: auto;
}
.social-share div, .social-share a{float:left;}
.share{text-decoration:none;
	font-size: 12px; padding: 0px 6px 0px 6px;margin: 0 15px 34px 0;display: inline-block;float: left;}
.tweet{
}
.share:hover{text-decoration:none}
.facebook{background-color:#3C527D;}
.e-mail{
    background-color: #999;
    border-radius: 3px;
}
.e-mail:hover{
	  background-color: #888;
}
.email-icon{
    background: url('sprite.png') -2px -496px no-repeat;
    width: 16px;
    height: 15px;
    display: inline-block;
    background-size: 48px;
}
.facebook span{font-size: 26px;}
.embed{
	background-color:#e6e6e6;
	font-weight: bold;
	font-size: 18px;
	height: 50px !important;
	border: none;
	border-radius: 5px;
	padding-left: 9px;
	display: inline-block;
	float: left;
	color: #41474C;
}
.recommended{
    display: block;
    clear: both;
    margin-top: 59px;
    margin-bottom: 10px;
}
.recomendations{
    width: 960px;

    height: 290px;
    background-color: #F7F7F7;
    position: relative;
}
.recomendations ul{
    width: 900px;
    height: 274px;
    margin: 30px auto;
    display: inline-block;
    float: left;
}
.recomendations li{
    position: relative;
    width: 267px;
    display: inline-block;
    float: left;
    background: white;
    box-shadow: 0 0 9px #666;
    border-radius: 6px;
    height: 230px;
    cursor: pointer;
    margin-left: 25px;
}
.recomendations li a {text-decoration:none;color:#41474C;}
.recomendations li a:hover {text-decoration:none}

.recomendations li:first-of-type{
}
.recomendations li:nth-of-type(2){}
.recomendations li:last-of-type{}
.recomendations li:hover{background-color:#f7f7f7}
.recomendations li:active{background-color:#e6e6e6}
.recomendations img.student{
    width: 71px;
    height: 71px;
    display: inline-block;
    margin: 8px 3px 0 8px;
}
.recomendations img.sponsor{
    width: 70px;
    height: auto;
    float: right;
    margin-right: 50px;
}
.recomendations h3{}
.highlight{color: #C0262C;display: block;clear: both;}
.recomended-stats{
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}
.corner-check{
    position: absolute;
    display: block;
    width: 50px;
    height: 43px;
    background: url('sprite.png') 0 -243px;
    top: 0;
    right: 0;
}
p.blurred{
    font-size: 14px;
    font-weight: bold;
}
.recomendations p{
    margin-left: 8px;
    margin-top: 3px;
}
.recomendations p.desc{
    font-size: 14px;
    margin-bottom: 10px;
}
.progress{
    position: relative;
    width: 250px;
    height: 10px;
    background-color: #f2f2f2;
    margin: 4px auto;
}
.achieved{
    position: absolute;
    background-color: #d8df20;
    height: 10px;
    width: 100px;
}
p.goals{
    display: inline-block;
    margin-right: 20px;
}
.supporting{
    font-size: 12px;
    margin-left: 50px;
}
img.sponsor{}
.logo{margin: 30px auto;display: block;}

.banner{
    height: 360px;
    width: 100%;
    display: block;
    background-color: #41474c;
    color: white;
}
.summary{
    width: 425px;
    margin: 22px 0 auto 30px;
    display: inline-block;
}
.summary h2{
    font-size: 31px;
    font-weight: bold;
}
.summary ol{}
.summary li{}
.summary li span{
    display: inline-block;
    width: 25px;
    font-size: 24px;
}
.summary li h3 {
    display: inline-block;
    font-weight: normal;
}
.summary a{
    text-decoration: none;
    display: inline-block;
    float: right;
    margin-top: 24px;
}
.frame-mosaic{
    display: inline-block;
    height: 316px;
    width: 416px;
    background-color: white;
    vertical-align: top;
    margin: 22px auto auto 59px;
}
.mosaic{
    background: white;
    margin: 8px;
    height: 300px;
    width: 400px;
}
.mosaic ul{}
.mosaic li{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0 -5px -7px 0px;
    padding: 0;



}


.mosaic	a {
    margin: 0;
}
.mosaic img{
    height: 100px;
    width: 100px;
}


/*
 * flip css
 ***********/

.f1_container {
  position: relative;

  width: 100px;
  height: 100px;
  z-index: 1;
}
.f1_container {
  perspective: 1000;
}
.f1_card {
  width: 100%;
  height: 100%;

  -webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	  -o-transform-style:preserve-3d;
  transform-style: preserve-3d;


  -webkit-transition: all 1s linear;
	  -moz-transition:all 1.0s linear;
	  -o-transition:all 1.0s linear;
  transition: all 1.0s linear;
}
.f1_container:hover .f1_card {
	 -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  transform: rotateY(180deg);

}
.face {
  position: absolute;
  width: 100%;
  height: 100%;

  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility: hidden;
}
.face.back {
  display: block;

  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  transform: rotateY(180deg);

}
/*
 * landing
 ********/
.start{margin: 25px auto 0 auto;text-align: center;}
.quote{
    text-align: center;
}
p.quote{
    font-size: 18px;
    width: 600px;
    margin: 20px auto 0px auto;
}
h5.quote{
    font-weight: bold;
}
.prospects{ width: 610px;
    height: 160px;
    margin: auto;
    text-align: center;

    position:relative;
    overflow: hidden;
    }
.prospects form{
    margin: 0;
    padding: 0;
}
.prospects .button.next{
    padding: 7px 14px;
    vertical-align: top;
    margin: 19px 0px;
    float: left;
    font-weight: normal;
}
.prospects input[type="text"]{
    float: left;
    height: 38px;
    margin: 19px 10px auto 160px;
    font-size: 21px;
    color: #777;
}
.prospects select{
    height: 26px;
    width: 280px;
    float: left;
    font-size: 18px;
    margin: 19px 10px auto 164px;
    vertical-align: middle;
}
.prospects input[type="submit"].next{
    padding: 9px 14px;

}
.get-notified{
    margin-top: 20px;

}
.slider-questions{
    height: 1220px;
    width: 100%;
    position:absolute;
}
.inquiry{
		width: 610px;
    height: 160px;
}
.get-notified h5{
    color: white;
    display: inline-block;
    margin-top: 32px;
    width: 100%;
    clear: both;
}
.get-notified span{
    display: inline-block;
    margin-top: 10px;
    padding: 15px 20px;
    font-weight: normal;
}
.need-funding{}
.need-funding h6{
    padding-top: 30px;
}
.need-funding span{
    margin-top: 6px;
    display: inline-block;
}

.window{

    overflow: hidden;
    margin: auto;

    position: relative;
}
.recomendations .window{
	width: 900px; height: 100%;
}
.arrow{
    width: 34px;
    height: 66px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -32.5px;
    cursor:pointer;
}
.right{
    background: url('sprite.png') -2px -512px;
    right: 5px;
}
.right:hover{
    background: url('sprite.png') -2px -584px;

}
.right:active{
    background: url('sprite.png') -2px -656px;

}
.left{
    background: url('sprite.png') 0 -296px;
    left: 5px;
}
.left:hover{
    background: url('sprite.png') 0 -367px;
}
.left:active{
    background: url('sprite.png') 0 -440px;
}
.slider{
    width: 4500px;
    height: 100%;
    position: absolute;
}

/*
 * BUBBLES
 *********/
.bubble{
    position: absolute;
    bottom: 100px;
}
.tuition{
    background: url('bubbles.png') 0 -65px no-repeat;
    height: 101px;
    width: 233px;
    z-index: 10;
    left: 383px;
    top: 51px;
    font-size: 14px;
    padding: 0px;
    text-align: center;
    display: none;
}
.tuition .money{
    margin: 15px auto -14px -10px;
}
.approved{

    width: 148px;
    height: 48px;
    z-index: 10;
    display: none;
}
div.recomendations .approved{
	  left: 231px;
	  top: 32px;
}
div.recomendations .approved.reflect{
	  left: 117px;
	  top: 32px;
}
div.student-stats .approved{
  left: 138px;
  top: 26px;
}
div.verified-by-addup .approved{
    right: 105px;
    top: 73px;
}
/*div.recommendations ul li:last-of-type .approved{
	-webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  transform: rotateY(180deg);
}*/


/*
 * STUDENT DETAIL
 *****************/
.icon{width:20px;height:20px;display:inline-block;border:none;}
.checkmark{background: url('sprite.png') -2px -138px;}
.info-icon{background: url('sprite.png') -2px -75px;}
.holder{
    background-color: white;
    height: 350px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 5px;
}
.holder span{}
.holder .window{
    width: 580px;
    height: 100%;
}
.profile{}
.student-slider-pics{
    width: 2160px;
    position: absolute;
}
.student-slider-pics ul{}
.student-slider-pics li{
    float: left;
    height: 350px;
    width: 580px;
    margin: 0;
    padding: 0;
}
.student-slider-pics li img{}
.student-slider-pics li iframe{}
.student-slider-pics div{
    display: block;
    padding: 0;
    margin: -7px 0 0 0;
}
.image{
    width: 580px;
    vertical-align: top;
    height: 315px;
    overflow: hidden;
}
.image img{
    vertical-align: top;
}
.image iframe{
    vertical-align: top;
    width: 580px;
}
.student-slider-pics .caption{
    background-color: #E6E6E6;
}
.caption h5{
    text-align: center;
    margin-top: 7px;
}

.share-box-wrap{}
.share-box-wrap ul{}
.share-box-wrap li{
    vertical-align: top;
}
.share-box-wrap a{}
.share-box-wrap input{
    width: 182px;
    border: #ccc solid 1px;
    border-radius: 3px;
    height: 22px;
    font-size: 12px;
}
.facebook-like{}
.short-link{}
.embed-short{}
.button-embed{}
.twitter-short{}
.hot{
    font-weight: bold;
    color: #C0262C;
}
.important{
    background-color: #f2f2f2;
    min-height: 106px;
    display: block;
    margin-top: 5px;
    width: 696px;
}
.important-content{
    background-color: white;
    min-height: 82px;
    margin: 11px 11px;
    width: 676px;
    display: inline-block;
}
div.important p{
    margin: 0;
    font-size: 18px;
    width: 480px;
    display: inline-block;
    min-height: 100px;
    vertical-align: top;
    padding: 10px;
}
div.important span{
    text-align: right;
    margin: 10px 10px auto auto;
    float: right;
    display: block;
    width: 100%;
}
div.important img{
    float: right;
}
.supporting-summary{
    width: 163px;
    display: inline-block;
}
 .msg{}
 .profile-ask{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 40px;
}
.sidebar-profile{
    border: none;
    width: 250px;
    float: left;
    height: auto;
    padding-left: 0;
}
.sidebar-profile ul{}
.sidebar-profile li{}
.verified-by-addup{
    position: relative;
    display: block;
}
.verified-by-addup h5{
    font-weight: bold;
    padding-top: 50px;
    vertical-align: top;
    margin-left: 5px;
}
.verified-by-addup h5 span{
    margin-right: 10px;
    vertical-align: baseline;
}
.verified-by-addup p{
    font-size: 12px;
    margin-left: 5px;
    margin-top: 0;
}
.verified-by-addup a{

    margin-left: 5px;
}
.sidebar-profile{}
.profile-side{
    margin: 14px 0 0 0;
    padding-top: 12px;
    padding-bottom: 12px;
}
.block{
    background-color: #E6E6E6;
    width: 212px;
    margin: 12px auto auto auto;
    display: block;
    padding-left: 8px;
    padding-right: 8px;
}
.block ol{}
.block li{}
.block li a{

}
.block p{
    font-size: 12px;
    display: inline-block;
    margin: 0px auto 0 auto;
    padding: 0;
}
.block h6{
    font-weight: bold;
}
.goal-stats{
    margin-top: 0;
    display: block;
}
.go-to-rewards{
	display: block;

	width: 165px;

	margin: 10px auto 3px auto;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	padding: 9px 14px;

}
.go-to-rewards:hover{
	text-decoration: none;

}
.how-it-works{
	color:#3AA0BB;
	font-size: 12px;
    font-weight: bold;
    }
.goal-stats .how-it-works{
    margin-left: 11px;
    display: inline-block;
    margin-bottom: 8px;
}
.numbers{
    color: #3AA0BB;
    font-weight: bold;
    font-size: 48px;
    padding: 7px 0 0 0;
    line-height: 1em;
}
.labels{
    margin-left: 5px;
    font-weight: bold;
    margin-top: -3px;
}
.min-amount{
    display: block;
    font-size: 12px;
    color: #d8df20;
    font-weight: bold;
}
.block .verified{}
.block .corner-check{}
.block .verified-tooltip{
    display: block;
}

.teacher{
    position: relative;
}
.teacher b{
    font-size: 12px;
    font-weight: normal;
}
.teacher h6{
}
.teacher p{}
.teacher .approved{
    top: 28px;
    right: 0px;
}
.approved.normal{background: url('bubbles.png') 0 -14px no-repeat;}
.approved.reflect{
	background: url('bubbles.png') 0 -180px no-repeat;
}
.avatar{
    float: left;
}
.avatar img{
    height: 80px;
    width: 64px;
}
.sponsor-name{
    float: left;
    width: 139px;
    margin-left: 7px;
    height: 87px;
}
.sponsor-name b{
    display: block;
}
.sponsor-name span.button{
    display: inline-block;
    padding: 5px 18px;
    font-size: 14px;
    margin-top: 15px;
}

.reward-side{}
.reward-side ol{
    padding-bottom: 10px;
    padding-top: 10px;
}
.reward-side li{}
.reward-side ol li{
    display: inline-block;
    width: 210px;
    margin-bottom: 4px;
}
.reward-side ol li:hover{ background-color:#999999}
.reward-side ol li a{color:inherit;text-decoration:none}
.reward-side ol li a:hover{color:inherit;text-decoration:none}
.reward-side ol li a:visited{color:inherit;text-decoration:none}
.reward-side h5{
    display: block;
    font-weight: bold;
}
.reward-side h5 span{}
.reward-side ul{}
.reward-side ul li{
    font-size: 12px;
    vertical-align: top;
    margin-bottom: -5px;
}
.reward-side ul li p{}
ul.symbol-line{
    height: 20px;
}
ul.symbol-line li{
    display: inline;
    margin: 0;
    padding: 0;
}
.symbol{
    background: url('sprite.png') 0 -56px no-repeat;
    width: 20px;
    height: 17px;
}


/*
 * MESSAGE BOX
 *************/

.blurr {
	width: 100%;
	height: 100%;
	z-index: 20;
	position: fixed;
	display: none;
	background-color: rgba(0, 0, 0, 0.8);

	background-image: -webkit-radial-gradient(47% 47%, circle cover, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1) 121%);
	background-image: -moz-radial-gradient(47% 47%, circle cover, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1) 121%);
	background-image: -o-radial-gradient(47% 47%, circle cover, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1) 121%);
	background-image: -ms-radial-gradient(47% 47%, circle cover, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1) 121%);
	background-image: radial-gradient(47% 47%, circle cover, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1) 121%);
	top: 0;
	left: 0;
}


.blurr {}
div.blurr span {

}
#blurry{}
.msg-box{
    background: #F2F2F2;
    width: 560px;
    border-radius: 10px;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -280px;
    margin-top: -192px;
    height: 385px;
}
.msg-box div{
    width: 520px;
    margin: 0 auto;
}
.msg-box form{}
.msg-header{}
.msg-header h1{
    font-size: 16px;
    color: #3AA0BB;
}
.msg-header h1 span{}
.msg-textarea{

}
.msg-textarea label{}
.msg-textarea input{}
.msg-textarea input[type="text"]{
    border: #ccc solid 1px;
    width: 500px;
}
.msg-textarea textarea{
    width: 500px;
}
.msg-footer{}
.msg-footer input{}
.msg-cancel{
    cursor: pointer;
    margin-left: 20px;
}
.msg-name{}
.msg-to{}
.transfer{
    cursor: pointer;
    float: right;
    clear: both;
    margin-top: 10px;
    margin-right: 16px;
}
.transfer:hover{text-decoration:underline}
.transfer-info{display:none;margin-top: 12px;}
.transfer-info h5{}
.transfer-info label{}
.transfer-info input[type="text"]{}
.transfer-info input[type="submit"]{
    margin-top: 18px;
}

/*
 * HOW IT WORKS
 **************/
.active{
    display: block !important;
}
.how{
    position: relative;
    width: 960px;
    height: 750px;
}
.how .arrow{
    top: 38%;
}
.how .arrow.right{}
.how .arrow.left{}
.balls{
    display: block;
    position: absolute;
    width: 184px;
    height: 15px;
    bottom: 170px;
    left: 50%;
    margin-left: -92px;
}
.ball{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('sprite.png') -2px -97px no-repeat;
    cursor: pointer;
}
.ball-active{
    background: url('sprite.png') -2px -117px no-repeat;
}
#ball1{}
#ball2{}
#ball3{}
#ball4{}
#ball5{}
#ball6{}
#ball7{}
#ball8{}
#ball9{}

.how .bubble{
    width: 182px;
    height: 67px;
    background: url('bubbles.png') -1px -238px no-repeat;
}
.step{
    display: none;
    position: relative;
    top: 26px;
    left: 10px;
    font-weight: bold;
    line-height: 2em;
}
.number{color: #3AA0BB;font-size: 24px;font-weight: bold;top: 0px;vertical-align: middle;font-size:18px;margin-right: 2px;}
#step1{}
#step2{}
#step3{}
#step4{}
#step5{}
#step6{}
#step7{}
#step8{}
#step9{}

.how .window{
    width: 650px;
    height: 541;
}
.how-step{
    display: none;
    width: 100%;
}
.how-step img{
    width: 100%;
    float: left;
}
.how-step p{
    color: #41474C;
    width: 650px;
    margin: 0 auto;
}
#how1{}
#how2{}
#how3{}
#how4{}
#how5{}
#how6{}
#how7{}
#how8{}
#how9{}

.picture{
    width: 500px;
    float: left;
    clear: right;
}
.picture img{
    width: 100%;
}
.half{
    width: 400px;

    float: left;
}

.twitter-share-button{}
.left-align{float:left}



#ticker {
  width: 610px;
  margin:0 auto 0 auto;
  height: 100px;
  overflow: hidden;
}
#ticker li {
  height: 80px;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

