<div id="fee" class="tab-pane fade">
  <h2> The Add Up $25 USD fee is currently being waived.</h2>
  <p>
    Click on "Save" to submit your application. Don't forget to share your campaign through your social networks!.
  </p>
</div>
<br/>

