<div id="honor" class="tab-pane fade">
  <h2> Add Up Student Honor Code</h2>
  <p>
    As the recipient of an Add Up scholarship, I promise to fulfill the following commitments. First,
    to add up to my community with the philanthropic project I shared on my profile. Second, to
    update my sponsors about the progress of my service initiative throughout the year, ideally at
    least two times per semester. Finally, I pledge to donate 40% of what I earned in my campaign
    towards scholarships for other students on Add Up within five years of graduating from the
    program for which I utilized the Add Up platform.
  </p>
  <p>
    I am aware that signing of this Honor Code represents a moral commitment to the Add Up
    platform and to the sponsors who will contribute to my campaign. Furthermore, I acknowledge
    that my failure to follow through on this commitment may make me ineligible to receive further
    funding through Add Up future years.
  </p>
</div>

