   <strong>&nbsp;Ideas of social community projects</strong>
     <!-- Accordion -->
      <div id="accordion2" class="accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse101" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle"><i class="icon-hand-right"></i> Short on Time? Do it Online!</a>
          </div>
          <div class="accordion-body collapse" id="collapse101">
            <div class="accordion-inner">
              <ul>
               <li> <i class="icon-ok"></i>Subtitles for<a data-original-title="Visit Official Site" href="http://www.khanacademy.org/contribute" rel="tooltip" data-placement="bottom" target="_blank" id="tooltip"> Kahn Academy Videos </a></li>
               <li><i class="icon-ok"></i>Create an online pledge or petition for your social cause. (i.e Stop Bullying:Speak Up at Facebook)</li>
                <li><i class="icon-ok"></i>Commit to use social network to promote your social cause via daily, weekly or monthly posts.</li>
                <li><i class="icon-ok"></i>Start a social media campaign for your cause.</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse102" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle"><i class="icon-hand-right"></i> Feeling Creative? </a>
          </div>
          <div class="accordion-body collapse" id="collapse102">
            <div class="accordion-inner">
              <ul>
                <li> <i class="icon-ok"></i>Donate a work of art of your creation to a children's hospital, adult care center, etc.</li>
                <li><i class="icon-ok"></i>Share your musical abilities by offering one or more free concerts in a low resource community, adult
                  care center, children hospital, etc.</li>
                <li><i class="icon-ok"></i> Design free logos for charitable on-campus organizations</li>
                <li><i class="icon-ok"></i>Write a song and create a music video to promote a social cause and share it on You Tube</li>
                <li><i class="icon-ok"></i>Write and publish an article in a local newspaper, magazine or internet blog promoting a social cause.</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse103" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle"><i class="icon-hand-right"></i> Cultural &amp; Religious</a>
          </div>
          <div class="accordion-body collapse" id="collapse103">
            <div class="accordion-inner">
              <ul>
                <li><i class="icon-ok"></i>Organize monthly events to promote your country's culture, cuisine, art, movies and traditions.</li>
                <li><i class="icon-ok"></i>Organize monthly inter faith discussion groups to promote tolerance and understanding among
                  different faiths.</li>
                <li><i class="icon-ok"></i>Create an online community with your friends to promote faith and moral values.</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse104" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle"><i class="icon-hand-right"></i> Action Oriented? Volunteer your Time</a>
          </div>
          <div class="accordion-body collapse" id="collapse104">
            <div class="accordion-inner">
              <ul>
                <li><i class="icon-ok"></i>Start a weekly literacy volunteer program at the local children´s cancer hospital</li>
                <li><i class="icon-ok"></i>Organize monthly visits to the local homeless shelter</li>
                <li><i class="icon-ok"></i>Run a clothes / food / books drive for a community in need and organize a one day delivery event</li>
                 <li><i class="icon-ok"></i>Volunteer once a week at the local soup kitchen</li>
             </ul>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse5" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle"> <i class="icon-hand-right"></i> Career Focused?</a>
          </div>
          <div class="accordion-body collapse" id="collapse5">
            <div class="accordion-inner">
              <ul>
                 <li><i class="icon-ok"></i>Start an Operation Smile chapter at your university</li>
             <li><i class="icon-ok"></i>Start an engineering club at your university to design and manufacture water filtering systems and
                  distribute them to poor communities</li>
                <li><i class="icon-ok"></i>Elaborate a financial forecast for a charitable organization</li><br/>
               <li><i class="icon-ok"></i>Create a marketing jingle for a charitable organization</li>
            </ul>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapseSix" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle"> <i class="icon-hand-right"></i> Free for the Summer?</a>
          </div>
          <div class="accordion-body collapse" id="collapseSix">
            <div class="accordion-inner">
              <ul>
                <li><i class="icon-ok"></i>
                  Spend your summer volunteering for a charitable cause or interning for a non profit organization.</li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- Accordion -->

