<% content_for :title do %>
  Student application
<% end %>

<div class="center">
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#basic" data-toggle="tab">Basic <span class="badge badge-info">1</span></a></li>
    <li><a href="#questions" data-toggle="tab">Questions <span class="badge badge-info">2</span></a></li>
    <li><a href="#fs" data-toggle="tab">Files <span class="badge badge-info">3</span></a></li>
    <li><a href="#payment" data-toggle="tab">Payment  <span class="badge badge-info">4</span></a></li>
  </ul>
  <%= render 'form' %>
</div>
