<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#basic" data-toggle="tab">Basic</a></li>
  <li><a href="#questions" data-toggle="tab">Questions</a></li>
   <li><a href="#fs" data-toggle="tab">Files</a></li>
 <li><a href="#payment" data-toggle="tab">Payment</a></li>
</ul>
<%= render 'form' %>
