<footer class="footer">
  <small>
    <a href="http://addup.herokuapp.com/">Addup</a>
    2012 CrowdSchoolarShip LLC All rigths reserved
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.incaztech.com/">Incaztech</a></li>
    </ul>
  </nav>
</footer>
