<li class="li2"><%= link_to "About", about_path %></li>
<li class="li1"><%= link_to "How it Works", how_path %></li>
<li class="li3"><%= link_to "Create application",  introduction_path%> </li>
<li class="li4"><%= link_to "Discover Students", root_path %></li>
