<link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
<meta charset="utf-8" />
<%= favicon_link_tag "favicon.ico" %>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!--To make html5 compatible with old browsers-->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<title> <%= yield :title %></title>

<!-- Javascript load -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

