<div class="lnkh"><%= link_to "About Us", about_path %></div>
<div class="lnkh"><%= link_to "How it Works", how_path %></div>
<div class="lnkh"><%= link_to "Create Application",  introduction_path%> </div>
<div class="lnkh"><%= link_to "Discover Students", root_path + "#discover_students" %></div>
