<!DOCTYPE html>
<html lang="en">
  <head>
   <title>Student Profile</title>
   <%= stylesheet_link_tag    "student_applications", :media => "all"%>
   <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
